<template>
  <div class="box">
    <div class="row">
        <div class="col-md-12">
            <h4 class="mt-2">Booked Appoinments</h4>
            <p>The list on the calendar below are the successful booked appointments. On the right panel is your current availabe schedule.</p>
        </div>
        <div class="col-md-12 mt-4">
            <full-calendar
            @event-selected="eventSelected"
            ref="calendar"
            :events="events"
            :config="config"
            defaultView="agendaWeek"
            :header="{ right: 'agendaDay,agendaWeek,month', left: 'prev,today,next, title' }"
            ></full-calendar>
        </div>
        <div class="col-md-12 mt-3">
            <h4 class="mt-2">Current Schedules</h4>
            <table class="table table-striped">
                <tbody>
                    <tr v-for="schedule in currentSchedules" v-if="schedule.status === 'active'">
                        <td>{{ schedule.weekDay }}</td>
                        <td style="color:#fe8024;">
                            <span class="fa fa-user" v-if="schedule.type === 'one_on_one'"></span>
                            <span class="fa fa-users" v-else></span>
                        </td>
                        <td>{{ schedule.avail_from + ' - ' + schedule.avail_to }}</td>
                    </tr>
                    <tr v-if="!currentSchedules.length">
                        <td colspan="3" class="text-center">No Schedules Active</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="appointment-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modelTitleId">Appointment Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table style="width:100%;">
                  <tbody>
                    <tr>
                      <td>Name</td>
                      <td>{{ selectedEvent.name }}</td>
                    </tr>
                    <tr>
                      <td>Amount</td>
                      <td>{{ selectedEvent.amount | currency }}</td>
                    </tr>
                    <tr>
                      <td>Date</td>
                      <td>{{ formatDate(selectedEvent.appointment_datetime) }}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

  </div>
</template>

<script>
import { FullCalendar } from 'vue-full-calendar'
import "fullcalendar/dist/fullcalendar.min.css"
import moment from 'moment'

export default {
  data () {
    return {
      config: {
        height: 'auto',
        timeFormat: 'h:mm A'
      },
      appointments: [],
      loadedAppointments: false,
      eventColors: ['#4285f4', '#42f487', '#4256f4', '#0b8043'],
      schedules: [],
      selectedEvent: ''
    }
  },
  props: ['user'],
  computed: {
    events () {
      return this.appointments.map(element => {
          element.title = element.name
          element.start = element.appointment_datetime
        //   element.overlap = false
          element.className = 'appointment-item'
          let colorIndex = parseInt(Math.floor(Math.random() * 3))
          element.backgroundColor = this.eventColors[colorIndex]
          element.textColor = '#ffff'
          element.borderColor = this.eventColors[colorIndex]
          return element
      })
    },
    currentSchedules () {
      return this.schedules.map(element => {
          element.avail_from = moment(element.avail_from, "HH:mm").format("h:mm A")
          element.avail_to = moment(element.avail_to, "HH:mm").format("h:mm A")
          element.weekDay = this.toWeekDay(element.day - 1)
          return element
      })
    }
  },
  components: {
    FullCalendar
  },
  created () {
    this.getAppointments()
    this.getSchedules()
  },
  methods: {
    async getAppointments () {
      try {
          this.loadedAppointments = false
          const response = await axios.get('/web-api/appointment?doctor_id=' + this.user.id)
          this.appointments = response.data.data
          this.loadedAppointments = true
      } catch (error) {
        // fails
      }
    },
    async getSchedules () {
      try {
        const response = await axios.get('/web-api/schedule?user_id=' + this.user.id + '&include=times')
        this.schedules = _.sortBy(response.data.data, 'day')
        setTimeout(() => {
        }, 100)
      } catch (error) {
        //   fails
      }
    },
    eventSelected (event) {
      this.selectedEvent = Object.assign({}, event)
      $('#appointment-modal').modal('show')
    },
    formatDate (timestamp) {
      return moment(timestamp).format('YYYY-MM-DD h:mm A')
    }
  }
}
</script>


<style scoped>
.box {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 1px 1px #c1c1c1;
    border-radius: 3px;
}
</style>
