<template>
    <section class="profile-section">
        <div class="row" v-if="!custom_numer">
            <div class="col-md-12">
                <visitors></visitors>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <travel-agent></travel-agent>
                <comments></comments>
            </div>
            <div class="col-md-4">
                <set-appointment :custom_numer="custom_numer"></set-appointment>
                <watch-us-grow></watch-us-grow>
                <!-- <status></status> -->
            </div>
        </div>
    </section>
</template>

<script>
import Visitors from './Visitors'
import TravelAgent from './TravelAgent'
import Comments from './Comments'
import SetAppointment from './SetAppointment'
import WatchUsGrow from './WactchUsGrow'
import Status from './Status'

export default {
  components: {
    'visitors': Visitors,
    'travel-agent': TravelAgent,
    'comments': Comments,
    'set-appointment': SetAppointment,
    'watch-us-grow': WatchUsGrow,
    'status': Status
  },
  props: ['custom_numer']
}
</script>
