<template>
    <div class="box mt-2 mb-2">
        <h3 class="text-center title">Set an Appointment</h3>
        <hr />
        <swiper :options="swiperOption" ref="slider">
            <swiper-slide v-for="(day, index) in days" :key="index" v-if="day.is_active">
                <div class="day-circle" @click="selectADay(day)">
                    <div class="day-content">
                        {{ day.week_day_three_format }} <br />
                        {{ day.month_full_format }} {{ day.week_date }}
                    </div>
                </div>
            </swiper-slide>
            <div class="swiper-button-prev" slot="button-prev">
                <i class="fa fa-chevron-left slider-arrows"></i>
            </div>
            <div class="swiper-button-next" slot="button-next">
                <i class="fa fa-chevron-right slider-arrows"></i>
            </div>
        </swiper>
        <div class="text-center">
            <div class="mt-3 select-a-day">{{ daysAvailableCount ? 'Select a Day' : 'No days available' }}</div>
        </div>
    </div>
</template>

<script>
import 'swiper/dist/css/swiper.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import moment from 'moment'

export default {
  data () {
    return {
      days: [],
      swiperOption: {
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      },
      dateStarter: '',
      swipeDates: []
    }
  },
  props: ['custom_numer'],
  mounted () {
    this.$refs.slider.$on('reachEnd', (payload) => {
      console.log('ending..')
      const lastIndex = this.days.length - 1
      this.getScheduleDates(this.days[lastIndex].date)
    })
    this.$refs.slider.$on('slide-prev-transition-start', (payload) => {
      console.log('prev')
    })
  },
  async created () {
    this.getScheduleDates()
  },
  computed: {
    daysAvailableCount () {
      return this.days ? this.days.filter(element => {
          return element.is_active
      }).length : 1
    }
  },
  components: {
    swiper,
    swiperSlide
  },
  methods: {
    selectADay (day) {
      this.$root.selectedAppointment = day
      this.$root.showModalSelectAppointment = true
    },
    async getScheduleDates (date_start = '') {
      try {
        date_start = date_start ? 'date_start=' + date_start : ''
        const custom_numer = this.custom_numer ? 'custom_number=' + this.custom_numer : ''
        const filters = this.toQueryFilter([
          date_start,
          custom_numer
        ])
        const response = await axios.get('/web-api/schedule-date' + filters)
        const newDates = response.data.filter(value => {
          return !this.days.find(day => day.date === value.date)
        })
        if (newDates.filter(value => value.is_active).length < 1) {
          const lastIndex = this.days.length - 1
          this.getScheduleDates(this.days[lastIndex].date)
        }
        this.days = [...this.days, ...newDates]
      } catch (error) {
        //   
        console.log(error)
      }
    }
  }
}
</script>

<style scoped>
.swiper-slide {
    text-align: center;
}
.day-circle {
    max-width: 109px;
    margin: auto;
    border-radius: 63px;
    height: 100px;
    width: 100px;
    border: 3px solid #fe8024;
    cursor: pointer;
    color: #808188;
    font-weight: 600;
}
.day-content {
    margin-top: 27px;
    text-align: center;
    font-size: 13px;
}
.select-a-day {
    color: #848181;
}
.title {
    color: #848181;
    padding: 3px 0px;
    font-size: 18px;
}
.day-circle:hover {
    background: #fe8024;
    color: #ffff;
    transition: all ease .5s;
}
.swiper-button-prev, .swiper-button-next {
    background-image: none;
}
.slider-arrows {
    font-size: 24px;
    margin-top: 10px;
    color: #fe8024;
}
</style>
