<template>
  <div class="box mt-2 mb-2">
    <h3>Watch us Grow</h3>
    <hr />
    <div class="donation-meter">
        <span class="glass">
            <span class="amount" style="height: 60%"></span>
            <strong class="total" style="bottom: 60%">300</strong>
        </span>
        <div class="bulb">
            <span class="red-circle"></span>
            <span class="filler">
                <span></span>
            </span>
        </div>
    </div>
  </div>
</template>
