<template>
  <div class="calendar">
      <full-calendar 
      ref="calendar"
      :config="config"
      defaultView="agendaDay"
      :header="{ right: 'agendaDay', left: 'today', center: 'title' }"
      ></full-calendar>
  </div>
</template>

<script>
import { FullCalendar } from 'vue-full-calendar'
import "fullcalendar/dist/fullcalendar.min.css";

export default {
  data () {
    return {
      config: {
        aspectRatio: 4,
        height: 300
      },
      isMounted: false
    }
  },
  components: {
    FullCalendar
  }
}
</script>

<style scoped>
.fc-agendaWeek-button {
  display: none !important;
}
.fc-month-button {
  display: none !important;
}
</style>
