<template>
  <tr>
      <td style="width: 187px;">
          <h4>{{ day.name }}</h4>
      </td>
      <td style="width: 100px;">
         <label class="switch">
            <input v-model="isChecked" type="checkbox" name="day">
            <span class="slider round"></span>
         </label>
      </td>
      <td :class="{ 'disabled': !isChecked }">
          <select v-model="hourFrom" class="form-control">
              <option value="">Select Time</option>
              <option v-for="time in timeOptionsFrom">{{ time }}</option>
          </select>
      </td>
      <td class="text-center p-2" :class="{ 'disabled': !isChecked }">
          to
      </td>
      <td :class="{ 'disabled': !isChecked }">
          <select v-model="hourTo" class="form-control">
              <option value="">Select Time</option>
              <option v-for="time in timeOptionsTo">{{ time }}</option>
          </select>
      </td>
  </tr>
</template>

<script>
import moment from 'moment'

export default {
  data () {
    return {
      isChecked: false,
      hourFrom: '',
      hourTo: '',
      timeInterVal: 60,
      schedule: ''
    }
  },
  props: ['day'],
  computed: {
    timeOptions () {
      // get the time options base on selected time interval
      let timeInterVal = this.timeInterVal ? this.timeInterVal : 1
      const hours = []
      let hour = 6 // starting time in hour
      while (hour < 23) {
        let minute = 0
        while (minute <= 60) {
          if (minute < 60) {
            let forMattedHour = moment({ hour, minute }).format('h:mm A')
            hours.push(forMattedHour)
          }
          minute += timeInterVal // add time interval
        }
        hour++
      }
      // push end of time range
      hours.push(moment({ hour, minute: 0 }).format('h:mm A'))
      return hours
    },
    timeOptionsFrom () {
      return this.timeOptions.filter(item => {
        let startTime = moment(item, "HH:mm a")
        let endTime = moment('6:00 PM', "HH:mm a")
        return startTime.isSameOrBefore(endTime)
      })
    },
    timeOptionsTo () {
      return this.hourFrom ? this.timeOptions.filter(item => {
        let startTime = moment(item, "HH:mm a")
        let endTime = moment(this.hourFrom, "HH:mm a")
        return startTime.isAfter(endTime)
      }) : []
    }
  },
  watch: {
    isChecked () {
      this.emitData()
    },
    hourFrom () {
      this.hourTo = ''
      this.emitData()
    },
    hourTo () {
      this.emitData()
    }
  },
  created () {
    this.emitData()
  },
  methods: {
    emitData () {
      const hourFrom  = moment(this.hourFrom, "h:mm A").format("HH:mm")
      const hourTo = moment(this.hourTo, "h:mm A").format("HH:mm")
      const formData = {
        day: this.day.day,
        type: 'one_on_one',
        avail_type: 'open_hours',
        interval: 60,
        avail_from: this.hourFrom && this.hourTo ? hourFrom : null,
        avail_to: this.hourFrom && this.hourTo ? hourTo : null,
        is_pre_booking: false,
        status: this.isChecked ? 'active' : 'inactive'
      }
      // emit data to be able to use v-model on this component
      this.$emit('input', formData)
    },
    async updateDayStatus () {
      try {
        const status = this.isChecked ? 'active' : 'inactive'
        if (this.schedule) {
          const response = await axios.post('/web-api/schedule/' + this.schedule.id + '/status', { day: this.day.day, status })
        }
      } catch (error) {
        // fails
      }
    }
  }
}
</script>

<style scoped>
.switch {
  position: relative;
  width: 60px;
  height: 34px;
  float: left;
  margin-bottom: 0px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #fe8024;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fe8024;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.disabled {
    opacity: .3;
    pointer-events: none;
}
</style>

