<template>
    <div>
        <div class="container mt-4 wizard-box"> 
            <form-wizard
            title="Quick Install"
            subtitle="Set your first configurations"
            color="#fe8024"
            @on-validate="handleValidation"
            error-color="#ff4949"
            ref="wizard"
            >
                <tab-content title="Welcome" :before-change="validateStepOne">
                    <div class="row">
                        <div class="col-md-12 text-center mt-2">
                            <h2>
                                Welcome to 
                                <span class="app-title">
                                    <span style="color: #737171;">COM</span><span style="color: #fe8024;">ONTIME</span>
                                </span>,
                                {{ user.first_name }}!
                            </h2>
                            <h3 class="mt-2">
                                To get started, tell us a little about how your business is set up:
                            </h3>
                        </div>
                        <div class="col-md-12 mt-4">
                            <div class="welcome-form-container">
                                    <form data-vv-scope="form-step-one">
                                        <table style="width:100%;" class="welcome-table">
                                            <tbody>
                                                <tr>
                                                    <td class="text-right pr-3">Your Business</td>
                                                    <td colspan="2">
                                                        <input v-model="userDetailsForm.company_name" type="text" class="form-control" placeholder="Business Name" name="business_name" v-validate="'required'" data-vv-as="Business Name">
                                                        <div class="text-danger" v-if="errors.has('form-step-one.business_name')">{{ errors.first('form-step-one.business_name') }}</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right pr-3">Industry</td>
                                                    <td colspan="2">
                                                        <select v-model="userDetailsForm.company_industry" class="form-control" name="industry" v-validate="'required'" data-vv-as="Industry">
                                                            <option value="">Choose Industry</option>
                                                            <option v-for="item in caseStudyCategories" :value="item.id">{{ item.name }}</option>  
                                                        </select>
                                                        <div class="text-danger" v-if="errors.has('form-step-one.industry')">{{ errors.first('form-step-one.industry') }}</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right pr-3">
                                                        <i class="fa fa-user-circle user-icon"></i>
                                                    </td>
                                                    <td colspan="2">
                                                        <input disabled v-model="userDetailsForm.file_name"  type="text" class="form-control" placeholder="">
                                                        <input  @change="onFileChange" id="photo" type="file" class="form-control" placeholder="" style="display:none;">
                                                    </td>
                                                    <td class="text-right">
                                                        <button @click="chooseFile" type="button" class="btn btn-primary btn-sm">
                                                            <i class="fa fa-folder-open"></i>   
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align:baseline;" class="text-right  pr-3">Tell us about your firm</td>
                                                    <td colspan="2">
                                                        <textarea v-model="userDetailsForm.company_bio" name="" id="" cols="30" rows="4" class="form-control"></textarea>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </form>
                            </div>
                        </div>
                    </div>
                </tab-content>
                <tab-content title="Schedule">
                    <div class="row">
                        <div class="col-md-12 text-center mt-2">
                            <h2>Set Your Business Hour</h2>
                            <p>Your time zone is set to (GMT -6:00) Central Time.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                             <div class="schedule-list">
                                 <table style="width:100%;">
                                     <tbody>
                                         <day-schedule v-for="(day, index) in days" :day="day" :key="index" v-model="day.data"></day-schedule>
                                     </tbody>
                                 </table>
                             </div>
                        </div>
                    </div>
                </tab-content>
                <tab-content title="Demo">
                     <div class="row">
                         <div class="col-md-4">
                             <img class="demo-photos" src="/img/demo/left-demo.png" alt="">
                             <h2 style="font-size: 23px;white-space: nowrap;" class="mt-4 mb-4">Your SMS Number: <b>{{ user.custom_number }}</b></h2>
                         </div>
                         <div class="col-md-4">
                             <div v-if="activeTabIndex === 2">
                                <Calendar></Calendar>
                            </div>
                         </div>
                         <div class="col-md-4">
                             <img class="demo-photos" src="/img/demo/right-demo.png" alt="">
                         </div>
                     </div>
                </tab-content>
                <template slot="footer" slot-scope="props">
                    <div class="wizard-footer-left">
                        <wizard-button  v-if="props.activeTabIndex > 0" @click.native="props.prevTab()" :style="props.fillButtonStyle">Previous</wizard-button>
                    </div>
                    <div class="wizard-footer-right">
                        <wizard-button v-if="!props.isLastStep" @click.native="props.nextTab()" class="wizard-footer-right" :style="props.fillButtonStyle">Next</wizard-button>
                        <wizard-button v-else  :disabled="submitting" @click.native="finishInstall" class="wizard-footer-right finish-button" :style="props.fillButtonStyle">  
                            <span v-if="submitting">
                                Submitting...
                            </span>
                            <span v-else>
                                {{ props.isLastStep ? 'Finish' : 'Next' }}
                            </span>
                        </wizard-button>
                    </div>
                </template>
            </form-wizard>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p style="color: #a5a5a5;">Setup only takes a monent, you'll be booking appointments in no time</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Calendar from './Calendar'
import { FormWizard, TabContent } from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
import DaySchedule from './DaySchedule'

export default {
  data () {
    return {
      days: [
          { day: 1, name: 'Monday', data: '' },
          { day: 2, name: 'Tuesday', data: '' },
          { day: 3, name: 'Wednesday', data: '' },
          { day: 4, name: 'Thursday', data: '' },
          { day: 5, name: 'Friday', data: '' },
          { day: 6, name: 'Saturday', data: '' },
          { day: 7, name: 'Sunday', data: '' }
      ],
      submitting: false,
      userDetailsForm: {
        company_name: '',
        company_industry: '',
        company_bio: '',
        file_name: '',
        photo: ''
      },
      activeTabIndex: 0,
      caseStudyCategories: []
    }
  },
  props: ['user'],
  watch: {
    '$refs.wizard.activeTabIndex' () {
      this.activeTabIndex = this.$refs.wizard.activeTabIndex
    }
  },
  components: {
    FormWizard,
    TabContent,
    'day-schedule': DaySchedule,
    Calendar
  },
  mounted () {
    const self = this
    this.$refs.wizard.$on('update:startIndex', function (payload) {
      self.activeTabIndex = payload
    })
  },
  created () {
    this.getCaseStudyCategories()
  },
  methods: {
    async finishInstall () {
      try {
        this.submitting = true
        await this.submitUserDetails()
        await this.submitSchedules()
        await this.setLoginFirstTime()
        window.location.href = '/profile'
        // this.submitting = false
      } catch (error) {
        // fails
        this.submitting = false
      }
    },
    async submitSchedules () {
      try {
          for (let day of this.days) {
            if (day.data.status === 'active') {
              const response = await axios.post('/web-api/schedule', day.data)
            }
          }
          return true
      } catch (error) {
        // fails
      }
    },
    async setLoginFirstTime () {
      try {
          const response = await axios.post('/auth/logged-in-first-time')
          return true
      } catch (error) {
        // fails
      }
    },
    async submitUserDetails () {
      try {
          const formData = new FormData
          formData.set('company_name', this.userDetailsForm.company_name)
          formData.set('company_industry', this.userDetailsForm.company_industry)
          formData.set('company_bio', this.userDetailsForm.company_bio)
          formData.set('photo', this.userDetailsForm.photo)
          const response = await axios.post('/web-api/account/details', formData)
      } catch (error) {
        // fails
      }
    },
    async getCaseStudyCategories () {
      try {
        const response = await axios.get('/case-study-category')
        this.caseStudyCategories = response.data.data
      } catch (error) {
        //   fails
      }
    },
    chooseFile () {
      document.getElementById('photo').click()
    },
    onFileChange (e) {
      this.userDetailsForm.file_name = e.target.files[0].name
      this.userDetailsForm.photo = e.target.files[0]
    },
    handleValidation: function(isValid, tabIndex) {
      console.log('Tab: '+tabIndex+ ' valid: '+isValid)
    },
    validateStepOne () {
      return this.$validator.validateAll('form-step-one').then(success => {
        if (success) {
          return true
        } else {
          return false
        }
      })
    }
  }
}
</script>

<style scoped>
.wizard-box {
    background: #ffff;
    padding: 45px 0px;
    -webkit-box-shadow: 0 1px 1px #c1c1c1;
    box-shadow: 0 1px 1px #c1c1c1;
}
.wizard-title {
    font-size: 29px;
    margin-bottom: 10px !important;
    font-weight: 700;
}
.schedule-list {
    max-width: 630px;
    margin: auto;
    padding: 2px 15px;
}
.schedule-list table tr {
    height: 51px;
}
.wizard-card-footer.clearfix {
    margin-top: 42px;
}
.welcome-form-container {
    max-width: 480px;
    margin: auto;
}
table.welcome-table td {
    padding: 8px 2px;
}
input {
    box-shadow: none !important;
}
.user-icon {
    font-size: 34px;
    color: #e0e0e0;
}
.calendar-container {
    max-width: 448px;
    float: left;
    margin-top: -82px;
    margin-right: 176px;
}
img.demo-photos {
    width: 100%;
}
</style>
