<template>
    <div class="container">
        <section class="pt-3 pb-3">
            <h1><i class="fa fa-cart"></i> Checkout</h1>
        </section>
        <section>
            <form  v-on:submit.prevent="checkout" class="form-horizontal" id="checkout-form">
            <div class="row">
                <div class="col-md-8">
                    <div class="card mb-5">
                        <h3 class="card-header bg-primary">Personal Information</h3>
                        <div class="card-block p-3">
                                <div class="form-group">
                                    <label for="first_name" class="form-label">First Name*:</label>
                                    <input type="text" class="form-control" name="first_name" v-model="person.first_name" value="First name"/>
                                </div>
                                <div class="form-group">
                                    <label for="last_name" class="form-label">Last Name*:</label>
                                    <input type="text" class="form-control" name="last_name" v-model="person.last_name" placeholder="Enter your Last Name"/>
                                </div>
                                <div class="form-group">
                                    <label for="mobile_number" class="form-label">Mobile Number:</label>
                                    <input type="text" class="form-control" name="mobile_number" placeholder="Enter your Mobile Number"/>
                                </div>
                                <div class="form-group">
                                    <label for="land_line" class="form-label">Land Line:</label>
                                    <input type="text" class="form-control" name="landline_number" placeholder="Enter your Land Line Number"/>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="form-label">Email*:</label>
                                    <input type="text" class="form-control" name="email" placeholder="Enter your Email Address"/>
                                </div>
                        </div>
                    </div>
                </div>
                 <!-- Summary Total -->
                <div class="col-md-4 order-summary" v-sticky="{ zIndex: 99, stickyTop: 0 }">
                <div class="card">
                        <h3 class="card-header bg-primary">Order Summary</h3>
                        <div class="card-block p-3">
                            <!-- if term selected then display -->
                            <div v-if="termSelected" class="row">
                                <div class="col-sm-6">
                                    <h3>Plan</h3>
                                </div>
                                <div class="col-sm-6">
                                    <h3 style="font-weight:bold;">{{termObj.term.name}}</h3>
                                </div>
                                <div class="col-md-4">
                                    <h6>Shared Package</h6>
                                </div>
                                <div class="col-md-8 price-list">
                                    <div class="price">
                                        $0.00
                                    </div>
                                    <div class="price-after">
                                       Then {{termObj.price | currency}} after
                                    </div>
                                    <div class="price">
                                        {{ (termObj.price * termObj.term.length) | currency}} in {{termObj.term.length}} mos
                                    </div>
                                </div>
                            </div>
                            <div class="row p-3" v-else>
                                <p class="text-muted">There is no term selected.</p>
                            </div>
                            <hr v-if="termSelected"/>
                            <!-- if addon checked then... -->
                            <!-- if social media checked then... -->
                            <div v-if="addOnHolder" class="row p-1" v-for="addon in addOnHolder" :key="addon.id" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
                                <div class="col-sm-4">
                                    <h5>{{addon.add_on.name}}</h5>
                                </div>
                                <div class="col-md-8 price-list">
                                    <div class="price">
                                        $0.00
                                    </div>
                                    <div class="price-after">
                                        Then {{addon.add_on.price | currency}} after
                                    </div>
                                    <div class="price">
                                        {{ (addon.add_on.price * termObj.term.length) | currency}} in {{termObj.term.length}} mos
                                    </div>
                                </div>
                            </div>
                            <div class="row p-3">
                                <div class="col-md-6">
                                    <h5>Total:</h5>
                                </div>
                                <div class="col-md-6">
                                    <div class="price">
                                        <h5 style="font-weght:bold;">{{grandTotal | currency}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-4">
                                    <h3>$0.00</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a v-if="!coupon" @click="showModal = true" href="javascript:void(0)">Do you have a coupon?</a>
                                    <a v-else class="text-success" href="javascript:void(0)">Promo code applied {{ coupon.discount_price | currency }} discount.</a>
                                    <!-- <input type="checkbox" v-model="toggleModal"> -->
                                </div>
                            </div>
                            <div v-if="showModal">
                                <transition name="modal">
                                    <div class="modal-mask">
                                    <div class="modal-wrapper">
                                        <div class="modal-container">

                                        <div class="modal-header">
                                            <slot name="header">
                                            <h4>Your coupon</h4>
                                            </slot>
                                        </div>

                                        <div class="modal-body">
                                            <slot name="body">
                                                <input type="text" class="form-control text-center" v-model="couponCode">
                                            </slot>
                                        </div>
                                        <div class="modal-footer">
                                            <slot name="footer">
                                             <button type="button" class="btn btn-default" @click="showModal = false">Cancel</button>
                                            <button :disabled="checkingCoupon"  type="button" class="modal-default-button btn btn-primary" @click="checkCoupon">
                                                {{ checkingCoupon ? 'Please wait...' : 'Redeem' }}
                                            </button>
                                            </slot>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </transition>
                            </div>
                            <div class="continue-btn mt-2">
                                <button class="btn btn-primary btn-block btn-lg" :disabled="loading">
                                    <vue-simple-spinner v-if="loading" message="Loading..." size="30" line-fg-color="#fe8024" text-fg-color="#fff"></vue-simple-spinner>
                                    <!-- <span v-else> -->
                                    <span>
                                        Checkout
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                
                </div>
                <!-- Identity Card Verification -->
                <div class="col-md-8 social-media">
                    <div class="card mb-5">
                        <h3 class="card-header bg-primary">Identity Verification by card</h3>
                        <div class="card-block p-3">
                            <p>
                                We give free telephone number by verifying that account holders are real people,
                                not bots or anonymous trouble makers. Don't worry, your card will not be charged
                                unless you explicity convert to a paid offer, though you might see a temporary authorization hold.
                            </p>
                            <div class="card-logo">
                                <img src="/img/cards/visa.png">
                                <img src="/img/cards/master_card.png">
                                <img src="/img/cards/discover.png">
                                <img src="/img/cards/american_express.png">
	            		    </div>
                            <div id="card-retails" class="mt-3">
                                <div class="form-group">
                                    <label for="card_number" class="form-label">Card Number*:</label>
                                    <input type="text" class="form-control" v-model="person.number" name="card_number" placeholder="Enter your Card Number" />
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="card_number" class="form-label">Expiry Date*:</label>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <span class="text-muted">MM</span>
                                                    <select name="month" id="month" v-model="person.exp_month" class="form-control">
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                        <option value="04">04</option>
                                                        <option value="05">05</option>
                                                        <option value="06">06</option>
                                                        <option value="07">07</option>
                                                        <option value="08">08</option>
                                                        <option value="09">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span class="text-muted">YYYY</span>
                                                    <select name="year" id="month" v-model="person.exp_year" class="form-control">
                                                        <option value="2018">2018</option>
                                                        <option value="2019">2019</option>
                                                        <option value="2020">2020</option>
                                                        <option value="2021">2021</option>
                                                        <option value="2022">2022</option>
                                                        <option value="2023">2023</option>
                                                        <option value="2024">2024</option>
                                                        <option value="2025">2025</option>
                                                        <option value="2026">2026</option>
                                                        <option value="2027">2027</option>
                                                        <option value="2028">2028</option>
                                                        <option value="2029">2029</option>
                                                        <option value="2030">2030</option>
                                                        <option value="2031">2031</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mt-4">
                                            <label for="card_number" class="form-label">CVV*:</label>
                                            <input type="text" class="form-control" name="cvv" v-model="person.cvc" placeholder="Enter CVV" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="card_number" class="form-label">Name of Card*:</label>
                                    <input type="text" class="form-control" name="card_name" v-model="person.name" placeholder="Enter Name of the Card" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </section>
    </div>
</template>

<script>
import VueSticky from 'vue-sticky'
import Spinner from 'vue-simple-spinner'

export default {
    data() {
        return {
            // toggleModal: false,
            couponCode: '',
            showModal: false,
            termSelected: true,
            socialmedia: true,
            customemail: true,
            termObj: '',
            socialmediaPrice: 5.59,
            customemailPrice: 12.98,
            totalPriceTerm: '',
            customEmailTotal: '',
            socialMediaTotal: '',
            loading: false,
            person: {
                number: '',
                exp_month: '',
                exp_year: '',
                name: '',
                cvc: ''
            },
            packageTerm: '',
            addOnHolder: [],
            addOns: [],
            checkingCoupon: false,
            coupon: ''
        }
    },
    directives: {
    'sticky': VueSticky,
    },
    created () {
        this.termObj = JSON.parse(this.$cookie.get('term_obj'))
        this.addOnHolder = JSON.parse(this.$cookie.get('addon_holder'))
        this.getPackageSelected()
        this.getAddOns()
    },
    methods: {
        async checkCoupon () {
            try {
                if (this.couponCode) {
                  this.checkingCoupon = true
                  const response = await axios.post('/web-api/voucher/check', { coupon_code: this.couponCode })
                  this.checkingCoupon = false
                  this.coupon = response.data
                  this.couponCode = ''
                  this.showModal = false
                }
            } catch (error) {
                //   fails
                this.checkingCoupon = false
            }
        },
        closeModal () {
            this.showModal = false
        },
        async getPackageSelected () {
            try {
                const response = await axios.get('/web-api/package/' + parseInt(this.$cookie.get('package_id')) + '?include=package_terms.term,package_add_ons.add_on')
                    this.packageTerm = response.data
                    this.addOns = response.data.package_add_ons
                } catch (error) {
                    console.error(error)
                }
        },
        async getAddOns () {
            try {
                const response = await axios.get('/web-api/add-on')
                    const items = []
                    Array.from(response.data.data)
                    .forEach(element => {
                        return items.push({...element, selected: false})
                    })
                    this.addOns = items
                } catch (error) {
                    console.error(error)
                }
        },
        checkout () {
            try {
                this.loading = true
                Stripe.setPublishableKey('pk_test_tl9gOcZj7q2qzD1Dsi9D4sak')
                //stripe creating token
                Stripe.card.createToken({
                    number: this.person.number,
                    cvc: this.person.cvc,
                    exp_month: this.person.exp_month,
                    exp_year: this.person.exp_year,
                    name: this.person.name
                }, this.stripeResponseHandler)
                } catch (error) {
                    console.error(error)
                }
        },
        stripeResponseHandler (status, response) {
            const custom_number = this.$cookie.get('custom_number')
            const packageTermId = this.$cookie.get('package_term_id')
            const packageId = this.$cookie.get('package_id')
            const add_on = this.$cookie.get('package_add_ons')
            const addon_arr = add_on.split(',')
            const data = new FormData(document.getElementById('checkout-form'))
            data.set('custom_number', custom_number)
            data.set('package_term_id', packageTermId)
            for (var i = 0; i < addon_arr.length; i++) {
                data.append('package_add_ons[]', addon_arr[i])
            }
            if (status === 200) {
                data.set('card_token', response.id)
                if (this.coupon.coupon_code) {
                    data.set('coupon_code', this.coupon.coupon_code)
                }
                axios.post('/web-api/package/' + packageId + '/subscribe', data).then((response) => {
                    this.loading = false
                    // delete cookie
                    this.$cookie.delete('custom_number')
                    this.$cookie.delete('package_term_id')
                    this.$cookie.delete('package_add_ons')
                    // redirect to success
                    window.location.href= '/success'
                })
            } else {
                console.log(response.error)
            }
        }
    },
    computed: {
        grandTotal: function () {
            const length = this.termObj ? this.termObj.term.length : 1
            const termPrice = this.termObj.price * length
            console.log(termPrice)
            const addonPrice = []
            this.addOnHolder.forEach(element => {
                addonPrice.push(parseFloat(element.price))
            })
            return ((_.sum(addonPrice) * length) + termPrice) ? (_.sum(addonPrice) * length) + termPrice : 0.00
        }
    },
    watch: {
        toggleModal (val) {
            if (val) {
                this.showModal = true
            }
        }
    }
  
}
</script>

<style>
    #loading {
        position: absolute;
        z-index: 999;
        background: #fff;
        height: 100%;
        width: 100%;
    }
    #loading div {
        top: 50%;
    }
    .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
    }

    .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
    }

    .modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
    margin-top: 0;
    color: #42b983;
    }

    .modal-body {
    margin: 20px 0;
    }

    .modal-default-button btn btn-prinary {
    float: right;
    }

    /*
    * The following styles are auto-applied to elements with
    * transition="modal" when their visibility is toggled
    * by Vue.js.
    *
    * You can easily play with the modal transition by editing
    * these styles.
    */

    .modal-enter {
    opacity: 0;
    }

    .modal-leave-active {
    opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    }
</style>
