<template>
  <section class="pt-5 pb-5">
    <div class="container">
        <div class="section_holder33">
        <div class="container">
            <h1 class="lt_title_big">Our <span>Plans</span></h1>
            <div class="cl_title_line"><div></div></div>
            <p class="lt_title_bottomtext">
                Our company is OnTimeo and our job is simply to make your business run on time.
            </p>
        </div>
        <div id="package-container">
            <div class="price_table_holder" v-for="pack in packages.data" :key="pack.id">
                <div class="price_table" :class="(parseInt(pack.is_featured) === 1) ? 'active':''">
                    <div class="plan_info">
                        <div class="plan_title_desc">
                            <h2 class="title">{{pack.name}}</h2>
                            <div class="desc">{{pack.description}}</div>
                        </div>
                    <div class="price"><sup>$</sup>{{pack.package_terms.data[0].price}}<i>/ mo</i>
                </div>
                <ul class="plan_features two">
                    <li v-for="offer in pack.offers.data" :key="offer.id">
                        {{offer.offer}}
                    </li>
                </ul>
                <div class="margin_top3">
                    </div>
                        <a @click="goToTerm(pack.id)" class="singup_but" style="cursor:pointer;">Order Now</a>
                    </div><br> <br>
                </div>
            </div>
        </div>
                </div>
            </div>
            </section>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            packages: []
        }
    },
    created () {
        this.getPackages()
    },
    methods: {
        async getPackages () {
            try {
                const response = await axios.get('/web-api/package?include=offers,package_terms')
                this.packages = response.data
            } catch (error) {
                console.error(error)
            }
        },
        goToTerm: function (id) {
            window.location.href = '/package/' + id
        }
    }
}
</script>