<template>
    <div class="container">
        <section class="pt-4 pb-4">
            <h1>{{packageTerm.name}}</h1>
            <p>{{packageTerm.description}}</p>
        </section>
        <section>
            <div class="row">
                <div class="col-md-8">
                    <div class="card mb-5">
                        <h3 class="card-header bg-primary">Select Term Length</h3>
                        <div class="card-block p-3">
                            <p class="text-muted">
                                Longer terms you select a lot of savings you earned!
                            </p>
                            <div class="funkyradio">
                                <div class="funkyradio-primary mb-5">
                                    <div class="row" v-for="(term,index) in packageTerm.package_terms.data" :key="term.term.name">
                                        <div class="col-md-6 mt-3 mb-3">
                                            <input type="radio" name="term" :id="term.term.name" :value="index + 1" v-model="termSelected"/>
                                            <label :for="term.term.name">{{term.term.name}}</label>
                                        </div>
                                        <div class="col-md-6 mt-3" style="text-align:right">
                                            <div class="price">
                                               <span>$0.00</span>/first mo
                                            </div>
                                            <div class="price-after text-muted">
                                                Then {{ getDiscountedPrice(term.price, term.discount) | currency }} after
                                            </div>
                                            <div class="price-sale" v-if="term.discount">
                                                <span>{{term.price | currency}}</span> On Sale (Save {{term.discount}}%)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <!-- Summary Total -->
                <div class="col-md-4 order-summary" v-sticky="{ zIndex: 99, stickyTop: 0 }">
                <div class="card">
                        <h3 class="card-header bg-primary">Order Summary</h3>
                        <div class="card-block p-3">
                            <!-- if term selected then display -->
                            <div v-if="termSelected" class="row p-1" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
                                <div class="col-sm-6">
                                    <h3>Plan</h3>
                                </div>
                                <div class="col-sm-6">
                                    <h3 style="font-weight:bold;">{{termObj.term.name}}</h3>
                                </div>
                                <div class="col-md-4">
                                    <h6>{{packageTerm.name}}</h6>
                                </div>
                                <div class="col-md-8 price-list">
                                    <div class="price">
                                        $0.00
                                    </div>
                                    <div class="price-after">
                                       Then {{termObj.price | currency}} after
                                    </div>
                                    <div class="price">
                                        {{ (termObj.price * termObj.term.length) | currency }} in {{termObj.term.length}} mos
                                    </div>
                                </div>
                            </div>
                            <div class="row p-3" v-else>
                                <p class="text-muted">There is no term selected.</p>
                            </div>
                            <!-- if social media checked then... -->
                            <div v-if="addOnHolder" class="row p-1" v-for="addon in addOnHolder" :key="addon.id" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
                                <div class="col-sm-4">
                                    <h5>{{addon.add_on.name}}</h5>
                                </div>
                                <div class="col-md-8 price-list">
                                    <div class="price">
                                        $0.00
                                    </div>
                                    <div class="price-after">
                                        Then {{addon.add_on.price  | currency}} after
                                    </div>
                                    <div class="price">
                                        {{ (addon.add_on.price * termObj.term.length) | currency }} in {{termObj.term.length}} mos
                                    </div>
                                </div>
                            </div>
                            <div class="row p-3">
                                <div class="col-md-6">
                                    <h5>Total:</h5>
                                </div>
                                <div class="col-md-6">
                                    <div class="price">
                                        <h5 style="font-weght:bold;">{{ grandTotal | currency }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-8">
                                    <h4>You will Pay</h4>
                                </div>
                                <div class="col-md-4">
                                    <h3>$0.00</h3>
                                </div>
                            </div>
                            <div class="continue-btn mt-2">
                                <button class="btn btn-primary btn-block btn-lg" @click="continueCart">Continue with these options</button>
                            </div>
                        </div>
                    </div>
                
                
                
                </div>
                <!-- Add Ons -->
                <div class="col-md-8 add-ons" v-for="addon in addOns.data" :key="addon.id" v-if="addon.status === 'active'">
                    <div class="card mb-5">
                        <h3 class="card-header bg-primary">{{addon.add_on.name}}</h3>
                        <div class="card-block p-3">
                            <div class="row">
                                <div class="col-md-1">
                                    <input type="checkbox" :id="addon.id" v-model="addonSelected" :value="addon.id"/>
                                </div>
                                <div class="col-md-9">
                                    <h4>{{addon.add_on.description}}</h4>
                                </div>
                                <div class="col-md-2 float-right">
                                    <div class="price">
                                        ${{addon.add_on.price}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import VueSticky from 'vue-sticky'
import _ from 'lodash'
export default {
    data() {
        return {
            termSelected: '',
            socialmedia: '',
            customemail: '',
            termObj: '',
            socialmediaPrice: 5.59,
            customemailPrice: 12.98,
            totalPriceTerm: '',
            customEmailTotal: '',
            socialMediaTotal: '',
            packageTerm: [],
            termsData: [],
            addOns: [],
            addonSelected: [],
            addOnHolder: [],
            subTotalAddOn: 0
        }
    },
    props:['id'],
    directives: {
    'sticky': VueSticky,
    },
    created () {
        this.getPackageSelected()
        this.getTerms()
        // this.getAddOns()
    },
    methods: {
      async getPackageSelected () {
        try {
            const response = await axios.get('/web-api/package/' + this.id + '?include=package_terms.term,package_add_ons.add_on')
                this.packageTerm = response.data
                this.addOns = response.data.package_add_ons
            } catch (error) {
                console.error(error)
            }
      },
      async getTerms () {
        try {
            const response = await axios.get('/web-api/term')
                this.termsData = response.data
            } catch (error) {
                console.error(error)
            }
      },
      async getAddOns () {
        try {
            const response = await axios.get('/web-api/add-on')
                const items = []
                Array.from(response.data.data)
                .forEach(element => {
                    return items.push({...element, selected: false})
                })
                this.addOns = items
            } catch (error) {
                console.error(error)
            }
      },
      continueCart: function () {
        const packageTermID = this.termObj.id
        const addonPrice = []
        this.addOnHolder.forEach(element => {
            addonPrice.push(parseFloat(element.id))
        })
        this.$cookie.set('term_obj', JSON.stringify(this.termObj), '1d')
        this.$cookie.set('addon_holder', JSON.stringify(this.addOnHolder), '1d')
        this.$cookie.set('package_id', this.packageTerm.id, '1d')
        this.$cookie.set('package_term_id', packageTermID, '1d')
        this.$cookie.set('package_add_ons', addonPrice, '1d')
        window.location.href='/custom-number'
      },
      getDiscountedPrice (amount, discount) {
        return amount - (amount * (discount/100))
      }
    },
    watch: {
        termSelected() {
            this.termObj = this.packageTerm.package_terms.data[this.termSelected - 1]
        },
        addonSelected () {
            console.log(Array.from(this.addonSelected).length)
            if(Array.from(this.addonSelected).length > 0) {
                this.addOnHolder = []
                Array.from(this.addOns.data).forEach(element => {
                    const result = this.addonSelected.find(addOnId => addOnId === element.id)
                    if(result) {
                        this.addOnHolder.push(element)
                    }
                })
            } else {
                this.addOnHolder = []
            }
        },
        addOnHolder () {
            var priceHandler = 0
            const subTotal = this.addOnHolder.map((element) => {
                const length = this.termObj ? this.termObj.term.length : 1
                priceHandler = parseFloat(element.price) * parseFloat(length)
            })
            this.subTotalAddOn = priceHandler
        }
    },
    computed: {
        grandTotal: function () {
            const length = this.termObj ? this.termObj.term.length : 1
            const termPrice = this.termObj.price * length
            const addonPrice = []
            this.addOnHolder.forEach(element => {
                addonPrice.push(parseFloat(element.price))
            })
            return ((_.sum(addonPrice) * length) + termPrice) ? (_.sum(addonPrice) * length) + termPrice : 0.00
        }
    }
}
</script>
