<template>
  <div class="row">
      <div class="col-md-12">
            <div class="box mt-2 mb-2">
                <h3 class="mt-2">Email Sync</h3>
                <hr>
                <table style="width:100%;" class="email-sync-table">
                    <tbody>
                        <tr>
                            <td class="text-center" style="width: 130px;">
                                <img class="img-email-sync" src="/img/email-sync/google.png" alt="">
                            </td>
                            <td>
                                <p>
                                    <span class="title">Google Calendar</span>
                                    <span class="description">Allows Calendly to check Google calendar for conflicts and add events to it.</span>
                                </p>
                            </td>
                            <td style="width: 127px;">
                                <button v-if="userCalendars.indexOf('google') < -1" class="btn-connect" @click="connect('google')">Connect &nbsp; <i class="fa fa-chevron-right"></i></button>
                                <div v-else>
                                    <button class="btn btn-primary">Connected &nbsp;<i class="fa fa-check"></i></button>  
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <img class="img-email-sync" src="/img/email-sync/office365.png" alt="">
                            </td>
                            <td>
                                <p>
                                    <span class="title">Office 365/Outlook.com</span>
                                    <span class="description">Allows Calendly to check your Office 365, Outlook.com, live.com, or hotmail calendar for conflicts and add events to it.</span>
                                </p>
                            </td>
                            <td>
                                <button v-if="userCalendars.indexOf('outlook') < -1" class="btn-connect" @click="connect('outlook')">Connect &nbsp; <i class="fa fa-chevron-right"></i></button>
                                <div v-else>
                                    <button class="btn btn-primary">Connected &nbsp;<i class="fa fa-check"></i></button>  
                                </div>
                            </td>
                        </tr>
                        <!-- <tr>
                            <td class="text-center">
                                <img class="img-email-sync" src="/img/email-sync/outlook.png" alt="">
                            </td>
                            <td>
                                <p>
                                    <span class="title">Outlook Plug-In (for Windows users)</span>
                                    <span class="description">Allows Calendly to check Outlook for conflicts and add events to it.</span>
                                </p>
                            </td>
                            <td>
                                <button class="btn-connect">Connect &nbsp; <i class="fa fa-chevron-right"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <img class="img-email-sync" src="/img/email-sync/icloud.png" alt="">
                            </td>
                            <td>
                                <p>
                                    <span class="title">iCloud Calendar</span>
                                    <span class="description">Allows Calendarly to check your iCloud calendar for conflicts and add events to it.</span>
                                </p>
                            </td>
                            <td>
                                <button class="btn-connect">Connect &nbsp; <i class="fa fa-chevron-right"></i></button>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
      </div>
  </div>
</template>

<script>
    export default {
        computed: {
          userCalendars () {
            return this.$root.currentUser ? this.$root.currentUser.calendars.data.map(value => {
                return value.provider
            }) : []
          }
        },
        methods: {
            connect(provider) {
                window.location = '/' + provider;
            }
        }
    }
</script>

<style scoped>
.box {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 1px 1px #c1c1c1;
    border-radius: 3px;
}
img.img-email-sync {
    background: #eaeaea;
    border-radius: 52px;
    padding: 11px;
}
table.email-sync-table tr {
    height: 124px;
}
span.title {
    display: block;
    font-size: 17px;
    font-weight: 600;
    color: #807d7d;
}
span.description {
    font-size: 13px;
    margin-top: 10px;
    display: block;
    color: #989898;
}
button.btn-connect {
    border: none;
    background: #ff9222;
    color: #ffff;
    padding: 10px 19px;
    border-radius: 2px;
}
button.btn-connect:hover {
    box-shadow: 0 1px 1px #c1c1c1;  
}
</style>
