<template>
    <div>
        <div class="image">
            <div class="image-box" v-for="(study, index) in cases">
                <a href="#" @click="setFeature(index)"><img :src="study.img" width="90" height="90" alt="User"></a>
            </div>
        </div>
        <hr>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img :src="featured.big_img" class="img-fluid" alt="User">
                    </div>
                    <div class="col-md-6">
                        <blockquote class="blockquote">
                            <p class="mb-0">{{ featured.quote }}</p>
                            <footer class="blockquote-footer">{{ featured.name }} <cite title="Source Title">{{ featured.title }}</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                cases: [
                    {
                        img: '/images/user.png',
                        big_img: '/img/Targetprocess_Customers-page_X2.png',
                        quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.',
                        name: 'Chuck Norris',
                        title: 'CEO'
                    },
                    {
                        img: '/images/user.png',
                        big_img: '/img/Sush-a-voice_Customers-page_X2.png',
                        quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed nisi lacus sed viverra tellus in hac habitasse platea.',
                        name: 'Albert Einstein',
                        title: 'Head of Business Intelligence and Systems'
                    },
                    {
                        img: '/images/user.png',
                        big_img: '/img/img17new-2x.jpg',
                        quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquam sem et tortor consequat id porta nibh.',
                        name: 'Rober DeNiro',
                        title: 'Partner'
                    },
                    {
                        img: '/images/user.png',
                        big_img: '/img/img14new-2x.jpg',
                        quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fermentum et sollicitudin ac orci phasellus egestas.',
                        name: 'Lambert Logan',
                        title: 'Source Title'
                    },
                    {
                        img: '/images/user.png',
                        big_img: '/img/img15new-2x.jpg',
                        quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac tortor vitae purus faucibus ornare suspendisse sed.',
                        name: 'Charles Barkely',
                        title: 'Technical Support Manager'
                    },
                    {
                        img: '/images/user.png',
                        big_img: '/img/img16new-2x.jpg',
                        quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Netus et malesuada fames ac turpis egestas maecenas pharetra convallis.',
                        name: 'Michael Jordan',
                        title: 'VP Marketing'
                    },
                    {
                        img: '/images/user.png',
                        big_img: '/img/img19new-2x.jpg',
                        quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In est ante in nibh mauris cursus.',
                        name: 'Megan Scott',
                        title: 'Head of Marketing'
                    }
                ],
                featured: {
                    img: '/images/user.png',
                    big_img: '/img/Targetprocess_Customers-page_X2.png',
                    quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu scelerisque felis imperdiet proin.',
                    name: 'Someone famous in',
                    title: 'Source Title'
                }
            }
        },
        methods: {
            setFeature(index) {
                this.featured = this.cases[index]
            }
        }
    }
</script>
