<template>
    <modal modal-size="modal-md" v-show="$root.showContactUsModal" @close="$root.showContactUsModal = false">
        <template slot="header">
            <h5>Contact us</h5>
        </template>
        <div slot="body">
            <form>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label for="contact">Contact</label>
                    <input type="text" class="form-control" name="contact">
                </div>
            </form>
        </div>
        <div slot="footer">

        </div>
    </modal>
</template>
<script>
    import Modal from './Modal'
    export default {
        components: {
            Modal
        }
    }
</script>
