<template>
  <div class="row">
      <div class="col-md-8 col-xs-12 mt-3">
        <div class="row custom-number-form">
          <div class="col-md-8 pr-0 pl-0">
              <div class="form-group">
                <vue-google-autocomplete
                        id="map"
                        classname="form-control"
                        placeholder="Enter your City, State or Country"
                        v-on:placechanged="getAddressData"
                    >
                    </vue-google-autocomplete>
                </div>
          </div>
          <div class="col-md-4 pr-0 pl-0">
              <button class="btn btn-primary btn-lg" @click="searchNumbers" :disabled="loading ? loading : false"> <i class="fa fa-search"></i> Search Number</button>
          </div>
          <div class="col-xs-12">
            <div class="float-sm-right">
                <a href="/checkout"> > No thanks, I want to migrate my own.</a>
            </div>
          </div>
      </div>
        <hr />
        <div class="row" style="text-align:center;">
            <h1 class="display-4">
            One <strong>Phone</strong>. Two <strong>Numbers</strong>
            </h1>
            <h3 class="display-5">
                Separate your business and personal number.
            </h3>
        </div>
    </div>
    <div class="col-md-4 col-xs-12">
        <div class="response-custom-number mt-5" v-if="loading">
            <vue-simple-spinner message="Loading..." size="55" line-fg-color="#fe8024"></vue-simple-spinner>
        </div>
        <div class="custom-holder-container" v-else>
            <div class="custom-holder-frame">
                <div class="custom-holder-scroll">
                    <div class="custom-holder" v-if="numbers.length > 0">
                        <h5><strong>Below are the available numbers on your location. Select 1 and continue to cart.</strong></h5>
                        <ul class="numbers list-group list-group-flush" v-show="hasNumber">
                            <li class="list-group-item p-1" v-for="num in numbers" :key="num.number_e164">
                                <p class="pull-left">{{num.number_e164}}</p>
                                <button @click="continueCart(num.number_e164)" class="btn btn-sm btn-primary pull-right btn-custom-number">
                                    <i class="fa fa-check sel-con-icon hidden"></i>
                                    <span class="sel-con-text">Select and Continue</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="custom-holder" v-else>
                        <ul class="p-0">
                            <li>
                                <p class="text-center text-danger">There is no number found. Try Again and Search</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <img src="/img/iphone.png" alt="" class="img-fluid" style="width:100%; margin-top:-80px;" />
    </div>
  </div>
</template>

<script>
  import VueGoogleAutocomplete from 'vue-google-autocomplete'
  import Spinner from 'vue-simple-spinner'
  export default {
    data () {
        return {
            address: '',
            loading: false,
            numbers: [],
            hasNumber: false
        }
    },
    components: {
        VueGoogleAutocomplete,
        Spinner
    },
    methods: {
        getAddressData: function (addressData, placeResultData, id) {
            this.address = addressData;
        },
        async searchNumbers () {
            try {
                var vue = this
                vue.loading = true
                const data = new FormData()
                data.set('city', vue.address.locality)
                data.set('state', vue.address.administrative_area_level_1)
                const response = await axios.post('/web-api/telnyx/search', data)
                    vue.hasNumber = true
                    vue.loading = false
                    vue.numbers = response.data.result
                } catch (error) {
                    console.error(error)
            }
        },
        continueCart: function (customNumber) {
            this.$cookie.set('custom_number', customNumber)
            window.location.href='/checkout'
        }
    }
  }
</script>
