<template>
  <div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="bd-example" data-example-id="">
            <div id="accordion" role="tablist" aria-multiselectable="true">

              <div class="card card-1" v-for="acc in accord.data" :key="acc.id">
                <div class="card-header" role="tab">
                  <div class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" :href="'#' + acc.id" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                      <!-- <i class="fa fa-file-text-o" aria-hidden="true"></i> -->
                        <h3>{{ acc.title }}</h3>
                        <p>{{ acc.subtitle }}</p>
                    </a>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </div>
                </div>
                <div :id="acc.id" class="collapse" role="tabpanel" aria-expanded="false" style="">
                  <div class="card-block">
                    {{ acc.description }}
                  </div>
                </div>                
		          </div>
					  </div>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
      return {
          accord: []
      }
  },
  created () {
    this.getFaq()
  },
  methods: {
    async getFaq () {
        try {
          const response = await axios.get('/web-api/faq')
          this.accord = response.data
        } catch (error) {
        //   fails
        }
     }
  }
}
</script>
<style scoped>
a, a:hover, a:focus{outline:none; text-decoration:none;}


h2{float:left; width:100%; color:#fff; margin-bottom:30px; font-size: 14px;}
h2 span{font-family: 'Libre Baskerville', serif; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px; font-weight:700}
h2 a{color:#fff; font-weight:bold;}

.card {
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    background-color: #fff;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom:1px;
    border:none;
}
.card-header:first-child {
    border-radius: 0;
}
.card-header {
    background-color: #f7f7f9;
    margin-bottom: 0;
    padding: 10px 1.25rem;
    border:none;
    
}
.card-header a i{
    float:left;
    font-size:25px;
    padding:5px 0;
    margin:0 25px 0 0px;
    color:#195C9D;
}
.card-header i{
    float:right;        
    font-size:30px;
    width:1%;
    margin-top:8px;
    margin-right:10px;
}
.card-header a{
    width:97%;
    float:left;
    color:#565656;
}
.card-header p{
    margin:0;
}

.card-header h3{
    margin:0 0 0px;
    font-size:20px;
    /* font-family: 'Slabo 27px', serif; */
    font-weight:bold;
    color:#3fc199;
}
.card-block {
    -moz-box-flex: 1;
    flex: 1 1 auto;
    padding: 20px;
    color:#232323;
    /* box-shadow:inset 0px 4px 5px rgba(0,0,0,0.1); */
    border-top:1px soild #000;
    border-radius:0;
}
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 2px 4px rgba(0,0,0,0.25), 0 2px 3px rgba(0,0,0,0.22);
}
</style>

