<template>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/img/ontime_logo.png" alt="" class="img-responsive" width="120">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarsExampleDefault" style="">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item" :class="{ 'active' : $root.route_location === '' }">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" :class="{ 'active' : $root.route_location === 'price plans' }">
                <a class="nav-link" href="/price-plans/">Price Plans</a>
            </li>
            <li class="nav-item" :class="{ 'active' : $root.route_location === 'product tour' }">
                <a class="nav-link" href="/product-tour/">Product Tour</a>
            </li>
            <li class="nav-item" :class="{ 'active' : $root.route_location === 'privacy policy' }">
                <a class="nav-link" href="/privacy-policy/">Privacy Policy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/meet-the-team/">Meet the Team</a>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li> -->
            </ul>
        </div>
    </div>
    </nav>
</template>

<script>
    export default {

    }
</script>

<style scoped>
a:hover {
    color: #0ce3ac !important;
}


</style>


