<template>
  <section id="home-page-counter">
        <div class="container-fluid" v-if="loadedCounters">
            <div class="row">
                <div class="col-md-3">
                    <div class="text-center">
                        <i class="fa fa-calendar counter-icons"></i>
                        <div class="counter-value">
                            <animate-number
                                from="1" 
                                :to="homeSummary.appointments" 
                                duration="3000" 
                                easing="easeOutQuad"
                                ref="appointment"
                                mode="manual"
                                >
                            </animate-number>
                        </div>
                        <p class="counter-subtitle">Appointments Made</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text-center">
                        <i class="fa fa-briefcase counter-icons"></i>
                        <div class="counter-value">
                            <animate-number
                                from="1" 
                                to="8" 
                                duration="3000" 
                                easing="easeOutQuad"
                                ref="customer"
                                mode="manual"
                                >
                            </animate-number>
                        </div>
                        <p class="counter-subtitle">Customer Review</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text-center">
                        <i class="fa fa-smile-o counter-icons"></i>
                        <div class="counter-value">
                            <animate-number
                                from="1"
                                :to="homeSummary.clients" 
                                duration="3000" 
                                easing="easeOutQuad"
                                ref="clients"
                                mode="manual"
                                >
                            </animate-number>
                        </div>
                        <p class="counter-subtitle">Clients happily served</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text-center">
                        <i class="fa fa-clock-o counter-icons"></i>
                        <div class="counter-value">
                            <animate-number
                                from="1" 
                                to="3" 
                                duration="3000" 
                                easing="easeOutQuad"
                                ref="account"
                                mode="manual"
                                >
                            </animate-number>
                        </div>
                        <p class="counter-subtitle">Minutes it take to setup accounts</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import VueAnimateNumber from 'vue-animate-number'
export default {
    data () {
        return {
            scrolled: false,
            homeSummary: {
              appointments: 0,
              clients: 0
            },
            loadedCounters: false
        }
    },
    created () {
      window.addEventListener('scroll', this.handleScroll);
      this.getSummary()
    },
    components: {
        VueAnimateNumber
    },
    methods: {
      startAnimate: function () {
        this.$refs.appointment.start()
        this.$refs.customer.start()
        this.$refs.clients.start()
        this.$refs.account.start()
      },
      handleScroll () {
          if (window.scrollY > 2500) {
              if(!this.scrolled) {
                this.startAnimate()
                this.scrolled = true
              }
          }
      },
      async getSummary () {
        try {
          const response = await axios.get('/web-api/home/summary')
          this.homeSummary = response.data
          this.loadedCounters = true
        } catch (error) {
        //   fails
        }
     }
    }
  
}
</script>
