<template>
<section id="whos-using">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="lt_title_big text-center">Who's Using<span> Us</span></h1>
                <div class="cl_title_line text-center"><div></div></div>
                <p class="lt_title_bottomtext text-center">We serve {{ slides.length }} different industries.</p>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="home-page-slider">
                    <swiper :options="swiperOption" v-if="dataLoaded">
                      <swiper-slide v-for="(slide, index) in slides" :key="index">
                          <div class="img-circle" :style="{ 'background-image': `url(/storage/${slide.photo})` }">
                          </div>
                          <span class="img-circle-title">
                              {{ slide.name }}
                          </span>
                      </swiper-slide>
                      <div class="swiper-pagination" slot="pagination"></div>
                    </swiper>
                </div>
            </div>
        </div>
    </div>
</section>
</template>

<script>
import 'swiper/dist/css/swiper.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
  data () {
    return {
      slides: [],
      swiperOption: {
        slidesPerView: 6,
        spaceBetween: 30,
        freeMode: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        }
      },
      dataLoaded: false
    }
  },
  components: {
    swiper,
    swiperSlide
  },
  created () {
    this.getItems()
  },
  methods: {
    async getItems () {
      try {
        const response = await axios.get('/case-study-category')
        this.slides = response.data.data
        this.swiperOption.slidesPerView = this.slides.length
        this.dataLoaded = true
      } catch (error) {
        //   fails
      }
    }
  }
}
</script>

<style>
.home-page-slider {
    padding: 22px 2px;
}
.swiper-wrapper {
    text-align: center;
}
.img-circle {
    width: 100px;
    height: 100px;
    margin: auto;
    background: #e8e8e8;
    border-radius: 66px;
    border: 1px solid #cecdcd;
    background-size: cover;
}
span.img-circle-title {
    margin-top: 13px;
    display: block;
}
.swiper-wrapper {
    height: 187px;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #8bc34a;
}
</style>
