<template>
<modal modal-size="modal-md" v-if="$root.showModal" @close="$root.showModal = false">
    <div slot="body">
        <form method="post" class="form-horizontal" v-on:submit.prevent="doLogin" id="login-form">
            <div class="alert alert-danger" v-if="error">
                <strong>These credentials do not match our records.</strong>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-block" :value="submitText" :disabled="submitting" :class="submitting ? 'submitting' : ''" />
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <label class="checkbox" for="remember_me">
                            <input type="checkbox" name="remember_me" id="remember_me" value="1" tabindex="3">
                            <span class="inline-help">Remember me</span>
                        </label>
                    </div>
                    <div class="col-md-6">
                        <a href="#" style="float:right; color: #fe8024 !important;" class="text-success">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </form>
        <table width="100%">
            <tbody>
                <tr>
                    <td><hr></td>
                    <td style="width:1px; line-height: 5px; vertical-align: middle; font-size:12px;  white-space: nowrap;">or</td>
                    <td><hr></td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-4 text-center">
                <!-- Facebook -->
                <a href="http://ontimeo.com/oauth/facebook" title="Login with Facebook" class=" btn btn-facebook btn-social"><i class="fa fa-facebook"></i> 
                    <!-- Login with Facebook --> 
                </a>
            </div>
            <div class="col-md-4 text-center">
                <!-- Twitter -->
                <a href="http://ontimeo.com/oauth/twitter" title="Login with Twitter" class=" btn btn-twitter btn-social"><i class="fa fa-twitter"></i>
                    <!-- Login with Twitter -->
                </a>
            </div>
            <div class="col-md-4 text-center">
                <!-- Google+ -->
                <a href="http://ontimeo.com/oauth/google" title="Login with Google+" class=" btn btn-googleplus btn-social"><i class="fa fa-google-plus"></i> 
                    <!-- Login with Google+ -->
                </a>
            </div>
        </div>
    </div>
    <span slot="support">
        <div class=" " style="text-align:center;background:#ccc;padding: 10px;color: #555">
			Not yet a member? <a class="text-success" href="/price-plans" style="color:#fe8024 !important;">Register NOW!</a> -- It's fun and easy!
		</div>
    </span>
</modal>
</template>

<script>
import Modal from './Modal.vue'
import axios from 'axios'
export default {
    data () {
        return {
            showModal: false,
            submitting: false,
            submitText: 'Login',
            error: 0
        }
    },
    props: ['user'],
    components: {
        'modal': Modal
    },
    created () {
        this.$root.user = this.user ? Object.assign({}, this.user) : ''
    },
    methods: {
        doLogin: function () {
            var vue = this
            vue.submitting = true
            let data = new FormData(document.getElementById('login-form'))
            axios.post('/login?include=subscription.package,subscription.add_ons,calendars', data).then(function (response) {
                vue.submitting = false
                if (response.data.is_doctor) {
                    // saves the current user logged in
                    vue.$cookie.set('current_user', JSON.stringify(response.data))
                    window.location.href = '/profile'
                } else if (response.data.is_super_admin) {
                    window.location = '/admin';
                }
            })
            .catch(function (error) {
                vue.error = 1
                vue.submitting = false
            })
        }

    }
  
}
</script>

<style>
    form input[type="submit"]:focus{
        background: #FE8122;
        border: 2px solid #FE8122;
    }
    .submitting {
        background: #FE8122;
        border: 2px solid #FE8122;
        font-style: italicl;
        font-size: 10px;
    }
</style>
