<template>
    <div class="container">
        <div class="slogans">
            <h3 class="slogan">
            Customer love scheduling themselves anytime, anywhere in seconds
            </h3>
            <h5 class="sub-slogan">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h5>
        </div>
            <div class="container image-slider">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
            
            <div class="carousel-inner">
                <div class="carousel-item" v-for="(vid, index) in media" :key="vid.id" :class="{ 'active': index === 0 }">
                    <div class="video-container" v-if="vid.isVideo">
                        <iframe :src="vid.url" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="video"></iframe>
                    </div>
                    <img width="100%" v-if="!vid.isVideo" class="image-responsive" :src="vid.url" alt="">
                    <!-- <iframe :src="vid.url" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="video"></iframe> -->
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <div class="circle-btn">
                    <span class="fa fa-chevron-left left-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </div>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <div class="circle-btn">
                    <span class="fa fa-chevron-right right-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </div>
            </a>
            <ul class="carousel-indicators">
                <li v-for="(vid, index) in media" :key="vid.id" :class="{ 'active': index === 0 }" data-target="#carouselExampleIndicators" :data-slide-to="index" class="carousel-thumbnail">
                    <img class="d-block w-100 image-responsive" :src="vid.thumbnail" alt="First slide">
                </li>
            </ul>
        </div>
        </div>
        <div class="container">
            <div class="row website-links">
            <div class="col-md-12">
                <h3 class="tagline">
                    Be where your customer are
                </h3>
            </div>
            <div class="col-md-6 fb-image" style="padding: 0px;">
                <div class="filled">
                    <img src="https://lorempizza.com/320/240" width="100%" height="100%" alt="facebook" />
                </div>
            </div>
            <div class="col-md-6 fb-link">
                <h3 class="link-name">FACEBOOK</h3>
                <h5>Connect Facebook into a Booking Platform</h5>
                <br>
                <p class="p-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi possimus provident quidem iste reprehenderit illum quam voluptatem labore nesciunt, corporis consequatur quos, nam laboriosam dignissimos nemo in veritatis? Deleniti, aliquam!
                </p>
            </div>
            <div class="col-md-6 your-link">
                <h3 class="link-name">YOUR WEBSITE</h3>
                <h5>Connect Facebook into a Booking Platform</h5>
                <br>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi possimus provident quidem iste reprehenderit illum quam voluptatem labore nesciunt, corporis consequatur quos, nam laboriosam dignissimos nemo in veritatis? Deleniti, aliquam!
                </p>
            </div>
            <div class="col-md-6 web-link">
                <h3 class="link-name">NO WEBSITE</h3>
                <h5>Connect Facebook into a Booking Platform</h5>
                <br>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi possimus provident quidem iste reprehenderit illum quam voluptatem labore nesciunt, corporis consequatur quos, nam laboriosam dignissimos nemo in veritatis? Deleniti, aliquam!
                </p>
            </div>
        </div>
        </div>
    </div>
</template>
<script>
export default {
  data () {
      return {
          playVideo: false,
          blur: true,
          blur2: '',
          blur3: '',
          media: [
            {
                id: 1,
                url: 'https://www.youtube.com/embed/-RrKE_JisPE',
                thumbnail: 'http://i3.ytimg.com/vi/-RrKE_JisPE/hqdefault.jpg',
                isVideo: true
            },
            {
                id: 2,
                url: '/images/product_tour/1.png',
                thumbnail: '/images/product_tour/1.png',
                isVideo: false
            },
            {
                id: 3,
                url: '/images/product_tour/2.png',
                thumbnail: '/images/product_tour/2.png',
                isVideo: false
            },
            {
                id: 4,
                url: '/images/product_tour/3.png',
                thumbnail: '/images/product_tour/3.png',
                isVideo: false
            },
            {
                id: 5,
                url: '/images/product_tour/4.png',
                thumbnail: '/images/product_tour/4.png',
                isVideo: false
            },
          ]
      }
  },
  methods: {
  }
}
</script>
<style scoped>
.carousel-control-next {
    right: -100px !important;
    opacity: 1 !important;
}
.carousel-control-prev {
    left: -100px !important;
    /* color: #fe8122 !important; */
    opacity: 1 !important;
}
.custom-control-label::before, .custom-control-label::after {
    margin-top:  7px;
}
.web-link {
    background-color: #edf0f1;
    padding: 110px 30px 30px 30px;
}
.fb-link, .your-link {
    background-color: #fff;
    padding: 110px 30px 30px 30px;
}
.first-tab, .second-tab {
    background-color: #fe8122;
    padding: 12px 0px 12px 20px;
    color: #fff;
}
.first-tab-content {
    margin: 18px 0px 18px 0px;
    padding: 15px 0px 15px 2px;
    border: 3px solid #fe8122;
}
.link-name {
    margin-bottom: 0 !important;
}
img.image-responsive.avatar {
    height: 40px;
    width: 40px;
    border-radius: 33px;
    margin: 0px 5px;
}
p .p-content{
    text-indent: 50px;
}
.fb-image {
    background-size: cover;
}
.tagline {
    text-align: center;
    color: #fff;
    padding: 10px 0px 30px 0px;
}
.website-links {
    background-color: rgb(60, 70, 98);
    padding: 18px 40px 18px 40px;
}
a, a:hover, a:focus{outline:none; text-decoration:none;}
h2{float:left; width:100%; color:#fff; margin-bottom:30px; font-size: 14px;}
h2 span{font-family: 'Libre Baskerville', serif; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px; font-weight:700}
h2 a{color:#fff; font-weight:bold;}
h5.title {
    margin-bottom: 0px;
}
.container.image-slider {
    margin-bottom: 90px;
}
.carousel-indicators {
    bottom: -88px !important;
}
.carousel-indicators li {
    height: 53px;
    width: 70px;
}
.slogan {
    text-align: center;
}
.slogans {
    margin-bottom: 28px;
}
.sub-slogan {
    text-align: center;
}
@media (min-width: 1200px) {
    .container .image-slider {
        max-width: 800px;
    }
}
.carousel-thumbnail {
    opacity: .6;
}
.carousel-thumbnail.active {
    opacity: 1 !important;
}
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    display:block;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.circle-btn {
    height: 50px;
    background-color: #dedede;
    width: 50px;
    border-radius: 40px;
}
.circle-btn:hover {
    background-color: #6d6d6d;
}
.right-icon, .left-icon {
    padding: 18px;
}
</style>