<template>
    <modal modal-size="modal-lg" v-show="$root.showRoi" @close="$root.showRoi = false">
      <template slot="header">
        <h5>ROI Calculator</h5>
      </template>
      <div slot="body">
        <form-wizard ref="wizard" @on-complete="close" @on-change="onChange" :title="''" :subtitle="''">
          <tab-content title="Personal details">
            <form>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" v-model="form.email">
                </div>
                <div class="form-group">
                    <label for="name">Company</label>
                    <input type="text" class="form-control" name="company" v-model="form.company">
                </div>
                <div class="form-group">
                    <label for="contact">Telephone</label>
                    <input type="text" class="form-control" name="telephone" v-model="form.telephone">
                </div>

            </form>
          </tab-content>
          <tab-content title="Select A Product">
              <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 last">
                    <div class="ontimeo-box">
                        <div class="ontimeo-content" style="height: 150px;">
                            <div class="text_holder">
                                <div class="text">
                                    <h4 class="lessmar">Unique</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 last">
                    <div class="ontimeo-box">
                        <div class="ontimeo-content" style="height: 150px;">
                            <div class="text_holder">
                                <div class="text">
                                    <h4 class="lessmar">Complete</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 last">
                    <div class="ontimeo-box">
                        <div class="ontimeo-content" style="height: 150px;">
                            <div class="text_holder">
                                <div class="text">
                                    <h4 class="lessmar">Shared</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
           </tab-content>
           <tab-content title="Company Details">
             <form>
              <div class="form-group">
                <label for="email">Expected Employee</label>
                <input type="email" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label for="name">Annual Salary</label>
                    <input type="text" class="form-control" name="name">
                </div>
            </form>
           </tab-content>
           <tab-content title="Heres what you save">
             <form>
              <div class="form-group">
                <label for="email">Expected Employee</label>
                <input type="email" class="form-control" name="email" value="">
                </div>
                <div class="form-group">
                    <label for="name">Annual Salary</label>
                    <input type="text" class="form-control" name="name">
                </div>
            </form>
           </tab-content>
        </form-wizard>
      </div>
      <div slot="footer">

      </div>
    </modal>
</template>

<script>
    import Modal from './Modal'
    import {FormWizard, TabContent} from 'vue-form-wizard'
    export default {
        data() {
          return {
            form: {}
          }
        },
        computed: {
          showRoi() {
            return this.$root.showRoi
          }
        },
        watch: {
          showRoi() {
            if (!this.showRoi) {
              this.reset()
            }
          }
        },
        components: {
          Modal,
          FormWizard,
          TabContent
        },
        methods: {
          reset() {
            this.$refs.wizard.reset()
          },
          close() {
            this.$root.showRoi = false
            this.$refs.wizard.reset()
            this.form = {}
          },
          onChange(prevIndex, nextIndex) {
            if (nextIndex == 1 && prevIndex == 0) {
              axios.post('/lead', this.form)
              .then(response => {
                console.log(response.data)
              })
              .catch(error => {
                console.log(error)
              })
            }
          }
        },

        mounted() {

        }
    }
</script>

<style lang="scss">
</style>
