<template>
  <div id="set-appointment">
    <modal :noHeader="true" v-if="$root.showModalSelectAppointment" @close="$root.showModalSelectAppointment = false" >
        <h3 slot="header"></h3>
        <div slot="body">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h4>{{ selectedAppointment.week_day_full_format }}</h4>
                        <p>{{ selectedAppointment.date_human_format }}</p>
                        <p class="mt-4">Times are in Central Time - US & Canada</p>
                    </div>
                    <hr>
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <table style="width:100%;" class="table-time-switch">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span style="font-size:1.2rem;">Select a Time</span>
                                            </td>
                                            <td class="text-right">
                                                <div class="float-right" style="margin-top: 6px;margin-right: 13px;">24 hr</div>
                                                <label class="switch">
                                                    <input type="checkbox" name="hour_type" v-model="is24Hour">
                                                    <span class="slider round float-right"></span>
                                                </label>
                                                <div class="float-right" style="margin-top: 6px;margin-left: 13px;">AM/PM</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                             </div>
                             <div class="col-md-12 mt-3">
                                 <div v-if="!loadingSchedules" class="time-container">
                                     <div class="time-available-item" v-for="item in availableTimes" @click="selectTime(item)" :key="item.id" :class="{ 'selected-time': selectedTime.id === item.id }">
                                        {{ item.time }}
                                    </div>
                                    <div v-if="!availableTimes.length" class="text-center">
                                        No available time schedules.
                                    </div>
                                 </div>
                                 <div v-else class="text-center">
                                     loading...
                                 </div>
                             </div>
                             <hr>
                             <div class="col-md-12 mt-4" v-if="!loadingSchedules && selectedTime && schedule.is_pre_booking">
                                <form @submit.prevent="createToken" ref="cardForm">
                                <div id="card-retails" class="mt-3">
                                    <div class="card-logo">
                                        <img src="/img/cards/visa.png">
                                        <img src="/img/cards/master_card.png">
                                        <img src="/img/cards/discover.png">
                                        <img src="/img/cards/american_express.png">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="card_number" class="form-label">Card Number*:</label>
                                        <input type="text" class="form-control" v-model="person.number" name="card_number" placeholder="Enter your Card Number" required />
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="card_number" class="form-label">Expiry Date*:</label>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <span class="text-muted">MM</span>
                                                        <select name="month" id="month" v-model="person.exp_month" class="form-control" required>
                                                            <option value="01">01</option>
                                                            <option value="02">02</option>
                                                            <option value="03">03</option>
                                                            <option value="04">04</option>
                                                            <option value="05">05</option>
                                                            <option value="06">06</option>
                                                            <option value="07">07</option>
                                                            <option value="08">08</option>
                                                            <option value="09">09</option>
                                                            <option value="10">10</option>
                                                            <option value="11">11</option>
                                                            <option value="12">12</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <span class="text-muted">YYYY</span>
                                                        <select name="year" id="month" v-model="person.exp_year" class="form-control" required>
                                                            <option value="2018">2018</option>
                                                            <option value="2019">2019</option>
                                                            <option value="2020">2020</option>
                                                            <option value="2021">2021</option>
                                                            <option value="2022">2022</option>
                                                            <option value="2023">2023</option>
                                                            <option value="2024">2024</option>
                                                            <option value="2025">2025</option>
                                                            <option value="2026">2026</option>
                                                            <option value="2027">2027</option>
                                                            <option value="2028">2028</option>
                                                            <option value="2029">2029</option>
                                                            <option value="2030">2030</option>
                                                            <option value="2031">2031</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mt-4">
                                                <label for="card_number" class="form-label">CVV*:</label>
                                                <input type="text" class="form-control" name="cvv" v-model="person.cvc" placeholder="Enter CVV" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="card_number" class="form-label">Name of Card*:</label>
                                        <input type="text" class="form-control" name="card_name" v-model="person.name" placeholder="Enter Name of the Card" required />
                                    </div>
                                </div>
                                <button ref="cardFormSubmit" style="display:none;"></button>
                                </form>
                             </div>
                             <div v-if="!loadingSchedules && selectedTime" class="col-md-12 mt-4">
                                 <form @submit.prevent="submitAppointment">
                                     <span style="font-size:1.2rem;">Patient Details</span>
                                     <div class="form-group">
                                         <label for="">Name</label>
                                         <input v-model="form.name" type="text" class="form-control" required>
                                     </div>
                                     <div class="form-group">
                                         <label for="">Email</label>
                                         <input v-model="form.email" type="email" class="form-control" required>
                                     </div>
                                     <div class="form-group">
                                         <label for="">Contact Number</label>
                                         <input v-model="form.contact_number" type="text" class="form-control" required>
                                     </div>
                                     <button ref="form" style="display:none;"></button>
                                 </form>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-right mt-5">
                    <button class="btn btn-default" @click="$root.showModalSelectAppointment = false">Cancel</button>
                    <button v-if="!schedule.is_pre_booking" class="btn btn-primary" @click="$refs.form.click()" :disabled="!selectedTime || !form.name || !form.contact_number || submitting || !form.email">{{ submitting ? 'Submitting...' : 'Submit' }}</button>
                    <button v-else class="btn btn-primary" @click="$refs.cardFormSubmit.click()" :disabled="!selectedTime || !form.name || !form.contact_number || submitting || !form.email">{{ submitting ? 'Submitting...' : 'Submit' }}</button>
                </div>
            </div>
        </div>
        <div slot="support"></div>
    </modal>
  </div>
</template>

<script>
import Modal from './Modal'
import moment from 'moment'
import swal from 'sweetalert2'

export default {
  data () {
    return {
      schedule: '',
      loadingSchedules: false,
      is24Hour: false,
      selectedTime: '',
      form: {
        name: '',
        contact_number: '',
        email: ''
      },
      submitting: false,
      person: {}
    }
  },
  components: {
    Modal
  },
  computed: {
    selectedAppointment () {
      return this.$root.selectedAppointment
    },
    availableTimes () {
      return this.schedule ? this.schedule.times.data.map(element => {
          if (!this.is24Hour) {
            element.time = moment(element.avail_time, "HH:mm").format("h:mm A")
          } else {
            element.time = moment(element.avail_time, "h:mm A").format("HH:mm")
          }
          return element
      }).filter(element => element.is_valid) : []
    }
  },
  watch: {
    '$root.showModalSelectAppointment' () {
      if (this.$root.showModalSelectAppointment) {
        this.resetValues()
        this.getSchedule()
      }
    }
  },
  methods: {
    resetValues () {
      this.selectedTime = ''
      this.form.name = ''
      this.form.contact_number = ''
      this.form.email = ''
    },
    async getSchedule () {
      try {
        this.loadingSchedules = true
        const response = await axios.get('/web-api/schedule/' + this.selectedAppointment.schedule_id + '/public?include=times')
        this.schedule = response.data
        this.loadingSchedules = false
      } catch (error) {
        console.log(error)
      }
    },
    selectTime (time) {
      this.selectedTime = Object.assign({}, time)
    },
    async createToken () {
      try {
        this.submitting = true
        Stripe.setPublishableKey('pk_test_tl9gOcZj7q2qzD1Dsi9D4sak')
        // stripe creating token
        Stripe.card.createToken({
            number: this.person.number,
            cvc: this.person.cvc,
            exp_month: this.person.exp_month,
            exp_year: this.person.exp_year,
            name: this.person.name
        }, (status, response) => {
            if (status === 200) {
                this.submitAppointment(response.id)
            }
        })
      } catch (error) {
        console.log(error)
      }
    },
    async submitAppointment (card_token = '') {
      try {
        this.submitting = true
        const formData = {
          name: this.form.name,
          doctor_id: this.schedule.user_id,
          date: this.selectedAppointment.date,
          schedule_time_id: this.selectedTime.id,
          contact_number: this.form.contact_number,
          email: this.form.email,
          card_token,
          employee_id: this.schedule.employee_id ? this.schedule.employee_id : null 
        }
        const response = await axios.post('/web-api/appointment', formData)
        this.submitting = false
        swal('Success', 'Appointment Successfully Created!', 'success')
        this.resetValues()
        this.person = {}
        this.$root.showModalSelectAppointment = false
      } catch (error) {
        console.log(error)
        this.submitting = false
        if (error.response.status === 422) {
            if (error.response.data.errors.date) {
                swal('', error.response.data.errors.date.join(','), 'error')
            } else {
                swal('', 'Something went wrong.', 'error')
            }
        } else {
            swal('', 'Something went wrong.', 'error')
        }
      }
    }
  }
}
</script>

<style scoped>
.switch {
    position: relative;
    width: 60px;
    height: 34px;
    float: right;
    margin-bottom: 0px;
    margin-right: 13px;
    margin-left: 13px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* input:checked + .slider { */
  /* background-color: #fe8024; */
/* } */

input:focus + .slider {
  box-shadow: 0 0 1px #fe8024;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.time-available-item {
    padding: 7px 5px;
    border: 2px solid #dddddd;
    max-width: 602px;
    border-radius: 36px;
    text-align: center;
    width: 385px;
    margin: auto;
    cursor: pointer;
    color: #888888;
    font-weight: 600;
    margin-top: 10px;
}

.time-available-item:hover {
    border: 2px solid #fe8122;
    color: #fe8122;
    transition: .5s all ease-in-out;
}

.selected-time {
    border: 2px solid #fe8122;
    color: #fe8122;
}

.time-container {
    padding: 4px 2px;
    max-height: 210px;
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 18px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 18px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 18px; 
}

input {
    box-shadow: none !important;
}
</style>

