<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <form @submit.prevent="submitForm">
                    <div class="setup-form" v-if="!isPasswordSetupSuccess">
                        <div class="row">
                            <div class="col-sm-5">
                                <img src="/img/ontime_logo.png" alt="" class="img-responsive" width="120">
                            </div>
                            <div class="col-sm-7">
                                <h4 class="mt-3">Setup Password</h4>
                            </div>
                        </div>
                        <p class="mt-4">Email: <b>{{ email }}</b></p>
                        <div class="form-group">
                            <label for="">Password</label>
                            <input v-model="password" name="password" type="password" class="form-control" v-validate="'required'" data-vv-as="Password">
                            <div class="text-danger" v-if="errors.has('password')">{{ errors.first('password') }}</div>
                        </div>
                        <div class="form-group">
                            <label for="">Confirm Password</label>
                            <input v-model="confirmPassword" name="confirm_password" type="password" class="form-control" v-validate="'confirmed:password|required'" data-vv-as="Confirm Password">
                            <div class="text-danger" v-if="errors.has('confirm_password')">{{ errors.first('confirm_password') }}</div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" :disabled="submitting">{{ submitting ? 'Submitting...' : 'Submit' }}</button>
                        </div>
                    </div>
                    <div class="setup-form" v-else>
                        <h5 class="text-center"><i class="fa fa-check" style="color: #8BC34A;"></i> Password Successfully Setup! &nbsp; <br><br><a href="/" style="color:#FF9800;"><b>Go to Home</b></a></h5>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data () {
    return {
      password: '',
      confirmPassword: '',
      submitting: false,
      isPasswordSetupSuccess: false
    }
  },
  props: ['email', 'token'],
  methods: {
    async submitForm () {
      this.$validator.validateAll().then(async (success) => {
        if (success) {
            try {
                this.submitting = true
                const formData = {
                email: this.email,
                password: this.password,
                token: this.token
                }
                const response = await axios.post('/setup-password/submit', formData)
                this.isPasswordSetupSuccess = true
            } catch (error) {
                this.submitting = false
                console.log(error)
            }
        }
      })
    }
  }
}
</script>

<style scoped>
.setup-form {
    max-width: 404px;
    margin: auto;
    background: white;
    padding: 27px 31px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px #c1c1c1;
    box-shadow: 0 1px 1px #c1c1c1;
}
input {
    box-shadow: none !important;
}
p.success-message {
    color: #8BC34A;
}
a {
    color:#da6914;
}
</style>


