<template>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark nav1 pt-0 pb-0">
        <div class="subHeader">
            <div class="container">
                <div class="float-right" v-if="!$root.user">
                    <button class="btn btn-link btn-sm pt-0 pb-0" @click="login">Login</button>
                    <button class="btn btn-success btn-xs pt-0 pb-0">Join</button>
                </div>
                <div class="float-right" v-else>
                    <a :href="$root.user.is_super_admin ? '/admin' : '/profile'" class="btn btn-link btn-sm pt-0 pb-0"><i class="fa fa-user"></i> &nbsp; {{ $root.user.name }}</a>
                    <a href="/logout"
                        onclick="event.preventDefault();
                        document.getElementById('logout-form').submit();" class="btn btn-link btn-sm pt-0 pb-0" ><i class="fa fa-sign-out"></i> &nbsp; Logout</a>
                    <form id="logout-form" action="/logout" method="POST" style="display: none;">
                        <input type="hidden" name="_token" :value="token">
                    </form>
                </div>
            </div>
        </div>
        <!-- login modal form -->
    </nav>
</template>

<script>
export default {
    data () {
        return {
            showModal: false,
            token: document.head.querySelector('meta[name="csrf-token"]').content
        }
    },
    props: ['user'],
    methods: {
        login: function () {
            this.$root.showModal = true
        }
    }
  
}
</script>

<style scoped>
.subHeader {
    float: left;
    width: 100%;
    text-align: left;
    padding: 5px 0px 5px 0;
}
.btn.btn.btn-link{
    color: #8d8c8c;
}
.btn.btn-link:hover {
    color: #fff;
    text-decoration: none;
}
.btn.btn-success {
    background-color: #00bc8c;
    border-color: #00bc8c;
}
.btn.btn-success:hover {
    background-color: #008966;
    border-color: #007f5e;
}
</style>


