<template>
    <div class="container text-center">
        <img src="http://loanlynx.wpengine.netdna-cdn.com/wp-content/uploads/2014/10/LoanLynx_Shield.png" class="image-responsive shield" alt="shield">
        <h1 class="thank-message">
            <b>Thank You For Signing Up!</b>
        </h1>
        <h4>
            All the goodies we promised you are on their way to your inbox now..
        </h4>
        <p class="long-message">
            While you wait for your materials to arrive via email, we recommend that you sign up <br>
            for this Thursday webinar. It's happening at 3 p.m. eastern and will help you rapidly <br>
            grow a new email list from scratch within the next 12 months.
        </p>
        <h1 class="message">
            <b>
                Your Most Effective Funnel: How To<br>
                Automatically Generate More Leads and Sales
            </b>
        </h1>
        <button class="btn btn-primary btn-lg">
            Click here to find out more
        </button>   
    </div>
</template>

<script>
export default {
  data () {
      return {
          
      }
  }
}

</script>

<style scoped>
img.shield {
    height: 175px;
}
.thank-message, .message {
    margin-bottom: 25px;
}   
.long-message {
    margin: 18px 0px 18px 0px;
}
</style>


