.wizard-navigation .wizard-progress-bar { background-color: rgb(231, 76, 60) !important; color: rgb(231, 76, 60); }
.wizard-navigation .wizard-nav li.active .wizard-icon-circle { border-color: rgb(231, 76, 60); }
.wizard-navigation .wizard-nav li.active .wizard-icon-container { background-color: rgb(231, 76, 60); }
.wizard-navigation .wizard-nav li.active .wizard-icon-container .wizard-icon { color: #FFF; }
.wizard-navigation .wizard-nav li.active .stepTitle { color: rgb(231, 76, 60); }

.modal .modal-header { background-color: #FE8122; color: #FFF; border-color: #FE8122; }
.jumbotron.homepage-banner { border-radius: 0 !important; }

.red-border { border: 1px solid red; }