<template>
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h2>
                    Add Ons
                </h2>
                <button class="btn btn-primary waves-effect m-t-10" @click="create"><i class="fa fa-plus-circle"></i>
                    Add New Add On
                </button>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Add On Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in items.data">
                        <td>{{ item.name }}</td>
                        <td v-html="item.description"></td>
                        <td>{{ item.price | currency }}</td>
                        <td>{{ item.status | capitalize }}</td>
                        <td>
                            <button class="btn btn-sm btn-default waves-effect" title="Edit" @click="edit(item)" :disabled="isDeletingItem(item)"><i class="material-icons">edit</i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <modal ref="modal" size="lg">
            <div slot="title">
                <span>{{mode === Modes.CREATE ? 'Create ' : 'Edit'}} Add On<span v-if="mode === Modes.EDIT">: {{ editingItem.name }}</span></span>
            </div>
            <div slot="body">
                <form @submit.prevent="submit">
                    <div class="form-group">
                        <label class="control-label">Add On Name</label>
                        <div class="form-line">
                            <input class="form-control" v-model="form.name" required>
                        </div>
                        <span v-html="form.helpBlock('name')"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Price</label>
                        <div class="form-line">
                            <input class="form-control" v-model="form.price" required>
                        </div>
                        <span v-html="form.helpBlock('name')"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Status</label>
                        <div class="form-line">
                            <select class="form-control" v-model="form.status">
                                <option value="active" selected> Active </option>
                                <option value="inactive"> Inactive </option>
                            </select>
                        </div>
                        <span v-html="form.helpBlock('name')"></span>
                    </div>
                    <div class="form-group" :class="form.feedback('description')">
                        <label class="control-label">Description</label>
                        <wysiwyg v-model="form.description"/>
                        <span v-html="form.helpBlock('description')"></span>
                    </div>
                    <button class="hidden" ref="btnSubmit"></button>
                </form>
            </div>
            <div slot="footer">
                <div class="pull-right">
                    <button class="btn btn-default waves-effect" :disabled="form.busy" data-dismiss="modal"><i class="material-icons">cancel</i> Cancel</button>
                    <button class="btn btn-primary waves-effect" @click="$refs.btnSubmit.click()" :disabled="form.busy"><i class="material-icons">save</i> Submit</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </modal>
    </div>
</template>

<script>
    import Modal from './Modal';
    import * as Modes from '../constants/modes';
    import * as Status from '../constants/statuses';

    export default {
        components: {
            Modal,
        },
        data() {
            return {
                items: {
                    data: []
                },
                form: new Form({
                    name: null,
                    description: null,
                    status: Status.ACTIVE,
                    price: null,
                }),
                editingItem: null,
                mode: Modes.CREATE,
                Modes,
                Status,
                deletingItems: [],
            };
        },
        mounted() {
            this.getItems();
        },
        methods: {
            getItems() {
                axios.get('/web-api/add-on')
                    .then(response => {
                        this.items.data = response.data.data;
                    });
            },
            resetForm() {
                this.form.resetStatus();
                this.form.name = null;
                this.form.description = null;
                this.form.price = null;
                this.form.status = Status.ACTIVE;
            },
            create() {
                this.resetForm();
                this.mode = Modes.CREATE;
                this.$refs.modal.show();
            },
            edit(item) {
                this.resetForm();
                this.mode = Modes.EDIT;
                this.editingItem = item;
                this.form.name = item.name;
                this.form.description = item.description;
                this.form.status = item.status;
                this.form.price = item.price
                this.$refs.modal.show();
            },
            isDeletingItem(item) {
                return Utils.arrayHas(this.deletingItems, item);
            },
            deleteItem(item) {
                if (this.isDeletingItem(item)) {
                    return;
                }
                window.Utils.confirm({
                    message: `Are you sure you want to delete ${item.name}?`,
                    success: {
                        label: `Delete`,
                        className: 'btn-danger waves-effect'
                    },
                    callback: (result) => {
                        if (!result) {
                            return;
                        }
                        this.deletingItems.push(item);
                        axios.delete(`/web-api/add-on/${item.id}`)
                            .then(() => {
                                toastr.success(`${item.name} has been deleted.`);
                                window.Utils.arrayDelete(this.items.data, item);
                            })
                            .finally(() => {
                                window.Utils.arrayDelete(this.deletingItems, item);
                            })
                    }
                });
            },
            submit() {
                if (this.form.busy) {
                    return;
                }
                if (this.mode === Modes.EDIT) {
                    window.Comontime.put(`/web-api/add-on/${this.editingItem.id}`, this.form)
                        .then(response => {
                            toastr.success('Changes has been saved.');
                            $.extend(this.editingItem, response.data);
                            this.$refs.modal.hide();
                        }).catch(error => {
                                if (error.status === 422) {
                                    let errors = ''
                                    for (let key in error.data.errors) {
                                        errors += error.data.errors[key].join(',')
                                    }
                                    toastr.error(errors)
                                }
                        })
                } else {
                    window.Comontime.post(`/web-api/add-on`, this.form)
                        .then(response => {
                            toastr.success('New add on has been added.');
                            this.items.data.push(response.data);
                            this.$refs.modal.hide();
                        }).catch(error => {
                                if (error.status === 422) {
                                    let errors = ''
                                    for (let key in error.data.errors) {
                                        errors += error.data.errors[key].join(',')
                                    }
                                    toastr.error(errors)
                                }
                        })
                }
            }
        }
    }
</script>

<style scoped>

</style>