<template>
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h2>
                  Categories
                </h2>
                <button @click="create" class="btn btn-primary waves-effect m-t-10" ><i class="fa fa-plus-circle"></i>
                    Add New Category
                </button>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in items">
                        <td>
                            <img style="max-width: 200px;" :src="'/storage/' + item.photo" alt="">
                        </td>
                        <td>{{ item.name }}</td>
                        <td>
                            <button class="btn btn-sm btn-default waves-effect" title="Edit" @click="editItem(item)"><i class="material-icons">edit</i></button>
                            <button class="btn btn-sm btn-danger waves-effect" title="Delete" @click="deleteItem(item, index)"><i class="material-icons">delete</i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <modal ref="modal">
            <div slot="title">
                <span>{{ mode === 'create' ? 'Create' : 'Edit' }} Category</span>
            </div>
            <div slot="body">
                <form @submit.prevent="submitForm">
                    <div class="form-group">
                        <label class="control-label">Photo</label>
                        <div class="form-line">
                            <input id="photo" @change="onFileChange" type="file" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Category Name</label>
                        <div class="form-line">
                            <input class="form-control" v-model="form.name" required>
                        </div>
                    </div>
                    <button class="hidden" ref="btnSubmit"></button>
                </form>
            </div>
            <div slot="footer">
                <div class="pull-right">
                    <button class="btn btn-default waves-effect" data-dismiss="modal" :disabled="submitting"><i class="material-icons">cancel</i> Cancel</button>
                    <button class="btn btn-primary waves-effect" @click="$refs.btnSubmit.click()" ><i class="material-icons" :disabled="submitting">save</i> Submit</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </modal>

    </div>
</template>

<script>
import Modal from './Modal';
import * as Modes from '../constants/modes';

export default {
  data () {
    return {
      items: [],
      item: '',
      loadingData: false,
      form: {
        name: '',
        photo: ''
      },
      mode: Modes.CREATE,
      submitting: false
    }
  },
  components: {
    Modal
  },
  created () {
    this.getItems()
  },
  methods: {
    async getItems () {
      try {
        this.loadingData = true
        const response = await axios.get('/web-api/case-study-category')
        this.items = response.data.data
        this.loadingData = false
      } catch (error) {
        //   fails
      }
    },
    resetForm () {
      this.$refs.modal.hide()
      this.form = {
        name: '',
        photo: ''
      }
      this.mode = Modes.CREATE
      $("#photo").val('')
    },
    create () {
      this.mode = Modes.CREATE
      this.$refs.modal.show()
    },
    editItem (item) {
      this.mode = Modes.EDIT
      this.form = Object.assign({}, item)
      this.$refs.modal.show()
    },
    submitForm () {
      if (this.mode === 'create') {
        this.createItem()
      } else {
        this.updateItem()
      }
    },
    async createItem () {
      try {
        this.submitting = true
        const formData = new FormData
        formData.set('name', this.form.name)
        formData.set('photo', this.form.photo)
        const response = await axios.post('/web-api/case-study-category', formData)
        toastr.success(`${this.form.name} has been created.`);
        this.getItems()
        this.submitting = false
        this.resetForm()
      } catch (error) {
        console.log(error)
        this.submitting = false
      }
    },
    async updateItem () {
      try {
        this.submitting = true
        const formData = new FormData
        formData.set('name', this.form.name)
        formData.set('photo', this.form.photo)
        formData.set('_method', 'put')
        const response = await axios.post('/web-api/case-study-category/' + this.form.id, formData)
        toastr.success(`${this.form.name} has been updated.`);
        this.getItems()
        this.submitting = false
        this.resetForm()
      } catch (error) {
        this.submitting = false
      }
    },
    async deleteItem (item, index) {
      try {
        window.Utils.confirm({
          message: `Are you sure you want to delete ${item.name}?`,
          success: {
            label: `Delete`,
            className: 'btn-danger waves-effect'
          },
          callback: async (result) => {
            console.log(result)
            if (!result) {
              return
            }
            const response = await axios.delete('/web-api/case-study-category/' + item.id)
            this.items.splice(index, 1)
            toastr.success(`${item.name} has been deleted.`)
          }
        })
      } catch (error) {
        //   fails
      }
    },
    onFileChange (e) {
      this.form.photo = e.target.files[0]
    }
  }
}
</script>
