<template>
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h2>
                    Case Studies
                </h2>
                <button @click="create" class="btn btn-primary waves-effect m-t-10" ><i class="fa fa-plus-circle"></i>
                    Add New Case Study
                </button>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in items">
                        <td>{{ item.user ? item.user.name : '' }}</td>
                        <td>{{ item.description ? item.description : '' }}</td>
                        <td>
                            <button class="btn btn-sm btn-default waves-effect" title="Edit" @click="editItem(item)"><i class="material-icons">edit</i></button>
                            <button class="btn btn-sm btn-danger waves-effect" title="Delete" @click="deleteItem(item, index)"><i class="material-icons">delete</i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <modal ref="modal">
            <div slot="title">
                <span>{{ mode === 'create' ? 'Create' : 'Edit' }} Case Study</span>
            </div>
            <div slot="body">
                <form @submit.prevent="submitForm">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <div class="">
                            <multiselect v-model="userSelected" track-by="id" label="name" :options="userOptions" required></multiselect>
                            <div v-show="isFormSubmitted && !userSelected" class="text-danger mt-2">Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <div class="form-line">
                            <wysiwyg v-model="form.description" required/>
                        </div>
                    </div>
                    <button class="hidden" ref="btnSubmit"></button>
                </form>
            </div>
            <div slot="footer">
                <div class="pull-right">
                    <button class="btn btn-default waves-effect" data-dismiss="modal" :disabled="submitting"><i class="material-icons">cancel</i> Cancel</button>
                    <button class="btn btn-primary waves-effect" @click="$refs.btnSubmit.click()" ><i class="material-icons" :disabled="submitting">save</i> Submit</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </modal>

    </div>
</template>

<script>
import Modal from './Modal';
import * as Modes from '../constants/modes';

export default {
  data () {
    return {
      items: [],
      item: '',
      loadingData: false,
      form: {
        user_id: 1,
        description: ''
      },
      mode: Modes.CREATE,
      submitting: false,
      users: [],
      userSelected: '',
      isFormSubmitted: false
    }
  },
  computed: {
    userOptions () {
      return this.users.map(element => {
        return { id: element.id, name: element.name }
      })
    }
  },
  components: {
    Modal
  },
  created () {
    this.getItems()
    this.getUsers()
  },
  methods: {
    async getItems () {
      try {
        this.loadingData = true
        const response = await axios.get('/web-api/case-study?include=user')
        this.items = response.data.data
        this.loadingData = false
      } catch (error) {
        //   fails
      }
    },
    async getUsers () {
      try {
        this.loadingData = true
        const response = await axios.get('/web-api/user')
        this.users = response.data.data
        this.loadingData = false
      } catch (error) {
        //   fails
      }
    },
    resetForm () {
      this.$refs.modal.hide()
      this.form = {
        name: '',
        case_study_category_id: '',
        description: ''
      }
      this.mode = Modes.CREATE
      this.userSelected = ''
    },
    create () {
      this.mode = Modes.CREATE
      this.resetForm()
      this.$refs.modal.show()
    },
    editItem (item) {
      this.mode = Modes.EDIT
      this.form = Object.assign({}, item)
      const selected = this.users.find(element => element.id === item.user_id)
      this.userSelected = { id: selected.id, name: selected.name }
      this.$refs.modal.show()
    },
    submitForm () {
      if (this.mode === 'create') {
        this.createItem()
      } else {
        this.updateItem()
      }
    },
    async createItem () {
      try {
        this.isFormSubmitted = true
        if (this.userSelected) {
          this.submitting = true
          const formData = new FormData
          formData.set('user_id', this.userSelected.id)
          formData.set('description', this.form.description)
          const response = await axios.post('/web-api/case-study', formData)
          toastr.success(`${this.form.description} has been created.`);
          this.getItems()
          this.submitting = false
          this.resetForm()
          this.isFormSubmitted = false
        }
      } catch (error) {
        this.submitting = false
      }
    },
    async updateItem () {
      try {
        this.isFormSubmitted = true
        if (this.userSelected) {
          this.submitting = true
          const formData = new FormData
          formData.set('user_id', this.userSelected.id)
          formData.set('description', this.form.description ? this.form.description : '')
          formData.set('_method', 'put')
          const response = await axios.post('/web-api/case-study/' + this.form.id, formData)
          toastr.success(`${this.form.description ? this.form.description : 'record'} has been updated.`);
          this.getItems()
          this.submitting = false
          this.resetForm()
          this.isFormSubmitted = false
        }
      } catch (error) {
        this.submitting = false
      }
    },
    async deleteItem (item, index) {
      try {
        window.Utils.confirm({
          message: `Are you sure you want to delete ${item.description}?`,
          success: {
            label: `Delete`,
            className: 'btn-danger waves-effect'
          },
          callback: async (result) => {
            console.log(result)
            if (!result) {
              return
            }
            const response = await axios.delete('/web-api/case-study/' + item.id)
            this.items.splice(index, 1)
            toastr.success(`${ item.description ? item.description : 'record' } has been deleted.`)
          }
        })
      } catch (error) {
        //   fails
      }
    }
  }
}
</script>
