<template>
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h2>
                  Leads
                </h2>
                <button @click="create" class="btn btn-primary waves-effect m-t-10" ><i class="fa fa-plus-circle"></i>
                    &nbsp; Add New Lead
                </button>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Company</th>
                        <th>URL</th>
                        <th>CEO Company</th>
                        <th>Telephone</th>
                        <th>Email</th>
                        <th>Company Type</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in items">
                        <td>{{ item.company }}</td>
                        <td>{{ item.url }}</td>
                        <td>{{ item.ceo_company }}</td>
                        <td>{{ item.telephone }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.company_type }}</td>
                        <td>
                            <button class="btn btn-sm btn-default waves-effect" title="Edit" @click="editItem(item)"><i class="material-icons">edit</i></button>
                            <button class="btn btn-sm btn-danger waves-effect" title="Delete" @click="deleteItem(item, index)"><i class="material-icons">delete</i></button>
                            <a :href="'/profile/' + item.company" class="btn btn-sm btn-primary waves-effect"><i class="material-icons">language</i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <modal ref="modal">
            <div slot="title">
                <span>{{ mode === 'create' ? 'Create' : 'Edit' }} Lead</span>
            </div>
            <div slot="body">
                <form @submit.prevent="submitForm">
                    <div class="form-group">
                        <label class="control-label">Company</label>
                        <div class="form-line">
                            <input class="form-control" v-model="form.company" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">URL</label>
                        <div class="form-line">
                            <input class="form-control" v-model="form.url" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">CEO Company</label>
                        <div class="form-line">
                            <input class="form-control" v-model="form.ceo_company" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Telephone</label>
                        <div class="form-line">
                            <input class="form-control" v-model="form.telephone" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <div class="form-line">
                            <input type="email" class="form-control" v-model="form.email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Company Type</label>
                        <div class="form-line">
                            <input class="form-control" v-model="form.company_type" required>
                        </div>
                    </div>
                    <button class="hidden" ref="btnSubmit"></button>
                </form>
            </div>
            <div slot="footer">
                <div class="pull-right">
                    <button class="btn btn-default waves-effect" data-dismiss="modal" :disabled="submitting"><i class="material-icons">cancel</i> Cancel</button>
                    <button class="btn btn-primary waves-effect" @click="$refs.btnSubmit.click()" ><i class="material-icons" :disabled="submitting">save</i> Submit</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </modal>

    </div>
</template>

<script>
import Modal from './Modal';
import * as Modes from '../constants/modes';

export default {
  data () {
    return {
      items: [],
      item: '',
      loadingData: false,
      form: {
        company: '',
        url: '',
        ceo_company: '',
        telephone: '',
        email: '',
        company_type: ''
      },
      mode: Modes.CREATE,
      submitting: false,
      requestErrors:'' 
    }
  },
  components: {
    Modal
  },
  created () {
    this.getItems()
  },
  methods: {
    async getItems () {
      try {
        this.loadingData = true
        const response = await axios.get('/web-api/lead')
        this.items = response.data.data
        this.loadingData = false
      } catch (error) {
        //   fails
      }
    },
    resetForm () {
      this.$refs.modal.hide()
      this.form = {
        company: '',
        url: '',
        ceo_company: '',
        telephone: '',
        email: '',
        company_type: ''
      }
      this.mode = Modes.CREATE
    },
    create () {
      this.mode = Modes.CREATE
      this.resetForm()
      this.$refs.modal.show()
    },
    editItem (item) {
      this.mode = Modes.EDIT
      this.form = Object.assign({}, item)
      this.$refs.modal.show()
    },
    submitForm () {
      if (this.mode === 'create') {
        this.createItem()
      } else {
        this.updateItem()
      }
    },
    async createItem () {
      try {
        this.submitting = true
        const response = await axios.post('/web-api/lead', this.form)
        toastr.success(`${this.form.name} has been created.`);
        this.getItems()
        this.submitting = false
        this.resetForm()
      } catch (error) {
        if (error.response.status === 422) {
            let errors = ''
            for (let key in error.response.data.errors) {
                errors += error.response.data.errors[key].join(',')
            }
            toastr.error(errors)
        }
        this.submitting = false
      }
    },
    async updateItem () {
      try {
        this.submitting = true
        const response = await axios.put('/web-api/lead/' + this.form.id, this.form)
        toastr.success(`${this.form.company} has been updated.`)
        this.getItems()
        this.submitting = false
        this.resetForm()
      } catch (error) {
        this.submitting = false
        if (error.response.status === 422) {
            let errors = ''
            for (let key in error.response.data.errors) {
                errors += error.response.data.errors[key].join(',')
            }
            toastr.error(errors)
        }
      }
    },
    async deleteItem (item, index) {
      try {
        window.Utils.confirm({
          message: `Are you sure you want to delete ${item.name}?`,
          success: {
            label: `Delete`,
            className: 'btn-danger waves-effect'
          },
          callback: async (result) => {
            console.log(result)
            if (!result) {
              return
            }
            const response = await axios.delete('/web-api/lead/' + item.id)
            this.items.splice(index, 1)
            toastr.success(`${item.company} has been deleted.`)
          }
        })
      } catch (error) {
        //   fails
      }
    }
  }
}
</script>
