<template>
    <div class="modal fade" tabindex="-1" role="dialog" ref="modal">
        <div class="modal-dialog" role="document" :class="sizeClass">
            <div class="modal-content">
                <div class="modal-header" v-if="!noHeader">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        <slot name="title" class="title"/>
                    </h4>
                    <slot name="subtitle" class="subtitle"/>
                </div>
                <div class="modal-body">
                    <slot name="body"/>
                </div>
                <div class="modal-footer" v-if="$slots.footer">
                    <slot name="footer"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            size: {
                type: String,
                default: null
            },
            noHeader: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            sizeClass(){
                if (!this.size) {
                    return null;
                }
                let obj = {};
                obj['modal-' + this.size] = true;
                return obj;
            }
        },
        methods: {
            show () {
                return new Promise((resolve, reject) => {
                    $(this.$refs.modal).one('shown.bs.modal', () => {
                        resolve();
                    });
                    $(this.$refs.modal).modal('show');
                });
            },
            hide () {
                return new Promise((resolve, reject) => {
                    $(this.$refs.modal).on('hidden.bs.modal', () => {
                        resolve();
                    });
                    $(this.$refs.modal).modal('hide');
                });
            }
        },
        beforeDestroy(){
            $(this.$refs.modal).modal('hide');
        }
    }
</script>
<style scoped>

</style>
