<template>
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h2>
                    Packages
                </h2>
                <button class="btn btn-primary waves-effect m-t-10" @click="create"><i class="fa fa-plus-circle"></i>
                    Add New Package
                </button>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Package Name</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in items.data">
                        <td>{{ item.name }}</td>
                        <td v-html="item.description"></td>
                        <td>{{ item.status | capitalize }}</td>
                        <td>
                            <button class="btn btn-sm btn-default waves-effect" title="Edit" @click="edit(item)" :disabled="isDeletingItem(item)"><i class="material-icons">edit</i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <modal ref="modal" size="lg">
            <div slot="title">
                <span v-if="mode === Modes.CREATE">Add New Package</span>
                <span v-else>Edit Package: {{ editingItem.name }}</span>
            </div>
            <div slot="body">
                <form @submit.prevent="submit">
                    <div class="form-group">
                        <label class="control-label">Package Name</label>
                        <div class="form-line">
                            <input class="form-control" v-model="form.name" required>
                        </div>
                        <span v-html="form.helpBlock('name')"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <wysiwyg v-model="form.description"/>
                        <span v-html="form.helpBlock('name')"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Domain Purchase Additional Charge</label>
                                <div class="form-line">
                                    <input type="number" step="0.01" class="form-control"
                                           v-model="form.domain_additional_charge">
                                </div>
                                <span v-html="form.helpBlock('domain_additional_charge')"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Featured</label>
                                <select class="form-control show-tick" v-model="form.is_featured">
                                    <option :value="false">No</option>
                                    <option :value="true">Yes</option>
                                </select>
                                <span v-html="form.helpBlock('is_featured')"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Status</label>
                                <select class="form-control show-tick" v-model="form.status">
                                    <option value="active">Active</option>
                                    <option value="inactive">Inactive</option>
                                </select>
                                <span v-html="form.helpBlock('is_featured')"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Promo</label>
                                <select class="form-control show-tick" v-model="form.promo">
                                    <option value="1st month">First Month</option>
                                    <option value="1st 2 months">First 2 Months</option>
                                    <option value="1st 3 months">First 3 Months</option>
                                </select>
                                <span v-html="form.helpBlock('promo')"></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Offers</div>
                        <div class="panel-body">
                            <table class="table">
                                <tbody class="offers-container">
                                <tr v-for="offer in form.offers">
                                    <td width="95%">
                                        <input type="text" class="form-control list-text" name="offers[]" v-model="offer.offer">
                                    </td>
                                    <td>
                                        <a href="#" @click.prevent="removeOffer(offer)" class="pull-right"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <button type="button" class="btn btn-default waves-effect" @click="form.offers.push({offer: null})"><i class="material-icons">add</i> Add</button>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Package Terms</div>
                        <div class="panel-body">
                            <div class="list-group-item package_terms-item" v-for="term in form.terms">
                                <div class="row">
                                    <div class="col-xs-4 col-md-4">
                                        <input type="checkbox" v-model="term.active" :id="`checkbox-term-${term.id}`">
                                        <label :for="`checkbox-term-${term.id}`">{{ term.name }}</label>
                                    </div>
                                    <div class="col-xs-4 col-md-4">
                                        <input type="number" class="form-control" placeholder="Amount" :required="term.active" step="any" v-model="term.price">
                                    </div>
                                    <div class="col-xs-4 col-md-4">
                                        <input type="number" class="form-control" min="1" max="100" placeholder="Discount %" v-model="term.discount">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Package Add Ons</div>
                        <div class="panel-body">
                            <div class="list-group-item package_terms-item" v-for="add_on in form.add_ons">
                                <div class="row">
                                    <div class="col-xs-4 col-md-6">
                                        <input type="checkbox" v-model="add_on.active" :id="`checkbox-add_on-${add_on.id}`">
                                        <label :for="`checkbox-add_on-${add_on.id}`">{{ add_on.name }}</label>
                                    </div>
                                    <div class="col-xs-4 col-md-6">
                                        <input type="number" class="form-control" placeholder="Amount" :required="add_on.active" step="any" v-model="add_on.price">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="hidden" ref="btnSubmit"></button>
                </form>
            </div>
            <div slot="footer">
                <div class="pull-right">
                    <button class="btn btn-default waves-effect" :disabled="form.busy" data-dismiss="modal"><i class="material-icons">cancel</i> Cancel</button>
                    <button class="btn btn-primary waves-effect" @click="$refs.btnSubmit.click()" :disabled="form.busy"><i class="material-icons">save</i> Submit</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </modal>
    </div>
</template>

<script>
    import Modal from './Modal';
    import * as Modes from '../constants/modes';
    import * as Status from '../constants/statuses';

    export default {
        components: {
            Modal,
        },
        data() {
            return {
                items: {
                    data: []
                },
                terms: [],
                add_ons: [],
                form: new Form({
                    name: null,
                    description: null,
                    is_featured: false,
                    status: Status.ACTIVE,
                    promo: null,
                    domain_additional_charge: null,
                    offers: [],
                    terms: [],
                    add_ons: [],
                }),
                editingItem: null,
                mode: Modes.CREATE,
                Modes,
                Status,
                deletingItems: [],
            };
        },
        mounted() {
            this.getTerms();
            this.getAddOns();
            this.getItems();
        },
        methods: {
            getTerms() {
                axios.get('/web-api/term')
                    .then(response => {
                        this.terms = response.data.data;
                        this.terms.forEach(term => {
                            this.form.terms.push({
                                id: term.id,
                                name: term.length + ' Month/s',
                                price: null,
                                discount: null,
                                active: false,
                            });
                        });
                    });
            },
            getAddOns() {
                axios.get('/web-api/add-on')
                    .then(response => {
                        this.add_ons = response.data.data;
                        this.add_ons.forEach(add_on => {
                            this.form.add_ons.push({
                                id: add_on.id,
                                name: add_on.name,
                                price: add_on.price,
                                active: false,
                            });
                        });
                    });
            },
            getItems() {
                axios.get('/web-api/package?include=package_terms,offers,package_add_ons')
                    .then(response => {
                        this.items.data = response.data.data;
                    });
            },
            resetForm() {
                this.form.resetStatus();
                this.form.name = null;
                this.form.description = null;
                this.form.is_featured = false;
                this.form.status = Status.ACTIVE;
                this.form.promo = null;
                this.form.domain_additional_charge =  null;
                this.form.offers = [];
                this.form.terms.forEach(item => {
                    item.price = null;
                    item.discount = null;
                    item.active = false;
                });
                this.form.add_ons.forEach(item => {
                    item.active =false;
                });
            },
            create() {
                this.resetForm();
                this.mode = Modes.CREATE;
                this.$refs.modal.show();
            },
            edit(item) {
                this.resetForm();
                this.mode = Modes.EDIT;
                this.editingItem = item;
                this.form.name = item.name;
                this.form.description = item.description;
                this.form.is_featured = item.is_featured;
                this.form.status = item.status;
                this.form.promo = item.promo;
                this.form.domain_additional_charge = item.domain_additional_charge;
                this.form.offers = [];
                item.offers.data.forEach(item => {
                    this.form.offers.push(item);
                });
                this.form.terms.forEach(term => {
                    let package_term = this.getPackageTermByTerm(item, term);
                    if (package_term) {
                        $.extend(true, term, {
                            price: package_term.price,
                            discount: package_term.discount,
                            active: package_term.status === Status.ACTIVE,
                        });
                    }
                });
                this.form.add_ons.forEach(add_on => {
                    let package_add_on = this.getPackageAddOnByAddOn(item, add_on);
                    if (package_add_on) {
                        $.extend(true, add_on, {
                            price: package_add_on.price,
                            active: package_add_on.status === Status.ACTIVE,
                        });
                    }
                });
                this.$refs.modal.show();
            },
            isDeletingItem(item) {
                return Utils.arrayHas(this.deletingItems, item);
            },
            deleteItem(item) {
                if (this.isDeletingItem(item)) {
                    return;
                }
                window.Utils.confirm({
                    message: `Are you sure you want to delete ${item.name}?`,
                    success: {
                        label: `Delete`,
                        className: 'btn-danger waves-effect'
                    },
                    callback: (result) => {
                        if (!result) {
                            return;
                        }
                        this.deletingItems.push(item);
                        axios.delete(`/web-api/package/${item.id}`)
                            .then(() => {
                                toastr.success(`${item.name} has been deleted.`);
                                window.Utils.arrayDelete(this.items.data, item);
                            })
                            .finally(() => {
                                window.Utils.arrayDelete(this.deletingItems, item);
                            })
                    }
                });
            },
            getPackageTermByTerm(package_item, term) {
                return package_item.package_terms.data.find(item => {
                    return item.term_id == term.id;
                });
            },
            getPackageAddOnByAddOn(package_item, add_on) {
                return package_item.package_add_ons.data.find(item => {
                    return item.add_on_id == add_on.id;
                });
            },
            removeOffer(offer) {
                window.Utils.arrayDelete(this.form.offers, offer);
            },
            submit() {
                if (this.form.busy) {
                    return;
                }
                let processData = (data) => {
                    data.offers = this.form.offers.map(item => {
                        return item.offer
                    });
                    data.terms = data.terms.filter(item => {
                        return item.active;
                    });
                    data.add_ons = data.add_ons.filter(item => {
                        return item.active;
                    });
                };
                if (this.mode === Modes.EDIT) {
                    window.Comontime.put(`/web-api/package/${this.editingItem.id}?include=package_terms,offers,package_add_ons`, this.form, data => {
                        processData(data);
                    })
                        .then(response => {
                            toastr.success('Changes has been saved.');
                            $.extend(this.editingItem, response.data);
                            this.$refs.modal.hide();
                        }).catch(error => {
                                if (error.status === 422) {
                                    let errors = ''
                                    for (let key in error.data.errors) {
                                        errors += error.data.errors[key].join(',')
                                    }
                                    toastr.error(errors)
                                }
                        })
                } else {
                    window.Comontime.post(`/web-api/package?include=package_terms,offers,package_add_ons`, this.form, data => {
                        processData(data);
                    })
                        .then(response => {
                            toastr.success('New package has been added.');
                            this.items.data.push(response.data);
                            this.$refs.modal.hide();
                        }).catch(error => {
                                if (error.status === 422) {
                                    let errors = ''
                                    for (let key in error.data.errors) {
                                        errors += error.data.errors[key].join(',')
                                    }
                                    toastr.error(errors)
                                }
                        })
                }
            }
        }
    }
</script>

<style scoped>

</style>