<template>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Settings
                </h2>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-md-4">
                        <form @submit.prevent="saveSettings">
                            <div class="form-group" v-for="item in settings">
                                <div class="form-line">
                                    <label for="">{{ item.display_name }}</label>
                                    <input v-model="item.value" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <button :disabled="saving" class="btn btn-primary waves-effect"  ><i class="material-icons">save</i> {{ saving ? 'Saving..' : 'Save' }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
  data () {
    return {
      saving: false,
      settings: []
    }  
  },
  created () {
    this.getSettings()
  },
  methods: {
    async saveSettings () {
      try {
        this.saving = true
        const response = await axios.post('/web-api/admin/setting/update', { settings: this.settings })
        toastr.success('Settings successfully updated.')
        this.saving = false
      } catch (error) {
        this.saving = false
        toastr.error('Something went wrong.')
      }
    },
    async getSettings () {
      try {
        const response = await axios.get('/web-api/admin/setting')
        this.settings = response.data.data
      } catch (error) {
      }
    }
  }
}
</script>
