<template>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Stripe Settings
                </h2>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-md-4">
                        <form @submit.prevent="saveSettings">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="">Public Key</label>
                                    <input v-model="data.public_key" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="">Secret Key</label>
                                    <input v-model="data.secret_key" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <button :disabled="saving" class="btn btn-primary waves-effect"  ><i class="material-icons">save</i> {{ saving ? 'Saving..' : 'Save' }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
  data () {
    return {
      saving: false,
      settings: [],
      data: {
          public_key: '',
          secret_key: ''
      }
    }  
  },
  created () {
    this.getStripeSettings()
  },
  methods: {
    async saveSettings () {
      try {
        this.saving = true
        const response = await axios.post('/web-api/admin/setting/update-stripe', this.data )
        toastr.success('Stripe Settings successfully updated.')
        this.saving = false
      } catch (error) {
        this.saving = false
        toastr.error('Something went wrong.')
      }
    },
    async getStripeSettings () {
      try {
        const response = await axios.get('/web-api/admin/setting/stripe-settings')
        this.data.public_key = response.data.public_key
        this.data.secret_key = response.data.secret_key
      } catch (error) {
      }
    }
  }
}
</script>
