<template>
<transition name="fade" v-if="!loadingPackages">
<div class="row">
    <div class="col-md-12">
        <div class="box mt-2 mb-4">
                    <div class="row package-counters">
                        <div class="col-sm-3 pk-box" v-for="item in packages">
                                <div class="title text-center">{{ item.name }}</div>
                                <div class="package-count text-center" style="margin-top:10px;">
                                    {{ item.total_invoice_amount | currency }} <span>({{ item.subscriber_count }})</span>
                                </div>
                        </div>
                        <div class="col-sm-3 pk-box" style="border-right:none;">
                                <div class="title text-center">Personal Balance</div>
                                <div class="package-count text-center" style="margin-top:10px;">
                                    $0
                                </div>
                        </div>
                    </div>
                </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br>
        <div class="card">
            <div class="header">
                
            </div>
            <div class="body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tab-nav-right" role="tablist">
                    <!-- counter -->
                    <li @click="selectedPackage = ''" role="presentation" class="active"><a href="#clients-panel" data-toggle="tab">Active
                        <span class="package-counter">{{ activeUsersCount }}</span>
                        </a>
                    </li>
                    <li v-for="item in packages" @click="selectedPackage = item" role="presentation"><a href="#clients-panel" data-toggle="tab">{{ item.name }} 
                        <span class="package-counter">{{ item.subscriber_count }}</span>
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="clients-panel">
                        <div class="body table-responsive">
                            <table class="table table-bordered clients-table">
                                <thead>
                                    <tr>
                                        <th colspan="4">
                                            <h4>{{ selectedPackage ? selectedPackage.name + ' Package' : 'Active' }} &nbsp; <small>Client</small></h4>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Client Name</th>
                                        <th>Package</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in displayUsers">
                                        <td class="text-center" style="width: 50px;">
                                            <img :src="item.photo ? item.photo : '/img/user.png'" alt="profile-image" class="profile-image">
                                        </td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.subscription ? item.subscription.package.name : '-' }}</td>
                                        <td v-if="item.account_status === 'active'" style="color:green;">Active</td>
                                        <td v-if="item.account_status === 'inactive'" style="color:red;">Inactive</td>
                                    </tr>
                                    <tr v-show="loadingUsers || !displayUsers.length">
                                        <td colspan="4" class="text-center">{{ loadingUsers ? 'loading...' : 'No Data' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <paginate
                            v-if="usersPagination"
                            :disabled-class="'disabled-link'"
                            :page-count="usersPagination.pagination.total_pages"
                            :click-handler="paginate"
                            :prev-text="'Prev'"
                            :next-text="'Next'"
                            :container-class="'pagination'"
                            :page-class="'page-item'"
                            :prev-link-class="'previous'"
                            :next-link-class="'next'"
                            >
                            </paginate>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</transition>
</template>

<script>
export default {
  data () {
    return {
      packages: [],
      loadingPackages: false,
      loadingUsers: false,
      users: [],
      usersPagination: '',
      selectedPackage: '',
      usersPage: 1,
      packageCountSummary: [],
      activeUsersCount: 0
    }
  },
  computed: {
     displayUsers () {
        return !this.selectedPackage ? this.users.filter(value => value.account_status === 'active') : this.users
     }
  },
  watch: {
    selectedPackage () {
      this.users = []
      this.getUsers()
    },
    usersPage () {
      this.getUsers()
    },
    packageCountSummary () {
      this.activeUsersCount = this.packageCountSummary ? this.packageCountSummary[0].count : 0
    }
  },
  created () {
    this.getPackages()
    this.getPackageCountSummary()
    this.getUsers()
  },
  methods: {
    async getPackages () {
      try {
        this.loadingPackages = true
        const response = await axios.get('/web-api/package')
        this.packages = response.data.data
        this.loadingPackages = false
      } catch (error) {
      }
    },
    async getPackageCountSummary () {
      try {
        const response = await axios.get('/web-api/package/count-summary')
        this.packageCountSummary = response.data
      } catch (error) {
      }
    },
    async getUsers () {
      try {
        this.loadingUsers = true
        const package_id = this.selectedPackage ? '&package_id=' + this.selectedPackage.id : '&account_status=active'
        const response = await axios.get('/web-api/user?include=subscription.package' + package_id + '&page=' + this.usersPage)
        this.users = response.data.data
        this.usersPagination = response.data.meta
        this.loadingUsers = false
      } catch (error) {
        //   fails
      }
    },
    paginate (page) {
      this.usersPage = this.usersPage === page ? this.usersPage : page
    }
  }
}
</script>


<style scoped>
.box {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 1px 1px #c1c1c1;
    border-radius: 3px;
}
img.img-email-sync {
    background: #eaeaea;
    border-radius: 52px;
    padding: 11px;
}
table.email-sync-table tr {
    height: 124px;
}
span.title {
    display: block;
    font-size: 17px;
    font-weight: 600;
    color: #807d7d;
}
span.description {
    font-size: 13px;
    margin-top: 10px;
    display: block;
    color: #989898;
}
button.btn-connect {
    border: none;
    background: #ff9222;
    color: #ffff;
    padding: 10px 19px;
    border-radius: 2px;
}
button.btn-connect:hover {
    box-shadow: 0 1px 1px #c1c1c1;  
}
.transaction-container {
    padding-top: 0px !important;
}
.row.transactions-header {
    padding: 15px 16px;
    color: #fff;
    background: #fe8122;
}
h3 {
    color: #fff !important;
}
.transaction-nav ul {
    padding-left: 0px;
    margin-top: 10px;
}
.transaction-nav ul li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}
select.transactions-table-filter {
    padding: 3px 4px;
    border: 1px solid #cac3c3;
    margin-top: 7px;
}
ul.transaction-tabs {
    padding-left: 0px;
}
ul.transaction-tabs li {
    display: inline;
    margin-left: 8px;
    margin-right: 8px;
}
span.tab-counter {
    background: #80808042;
    padding: 0px 11px;
    position: relative;
    border-radius: 15px;
}
ul.transaction-tabs li a:hover {
    color: #ff9800;
}
ul.transaction-nav {
    padding-left: 0px;
}
.transaction-nav li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}
.transaction-nav li a:hover {
    color: #ff9800;
}
.transaction-nav li a {
    text-transform: uppercase;
}
table.transaction-table {
    width: 100%;
}
table.transaction-table tr {
    height: 37px;
    border: 1px solid #cdd1d4;
}
table.transaction-table td, table.transaction-table th {
    padding: 2px 17px;
}
table.transaction-table td {
    padding: 15px 17px !important;
}
.withdraw-button {
    margin-top: 14px;
    background: #007bff;
    border-color: #007bff;
    color: #fff;
}
.withdraw-button:hover  {
    margin-top: 14px;
    background: #007bff;
    border-color: #007bff;
    color: #fff;
}
.header {
    background: #ff940d;
    padding: 27px 2px;
}
span.package-counter {
    background: #d8d8d8;
    padding: 2px 8px;
    color: #fff;
    border-radius: 17px;
    margin-left: 11px;
}
li.active .package-counter {
    background: #4CAF50;
}
.clients-table td, .clients-table th {
    border-right: none !important;
    border-left: none !important;
    vertical-align: middle;
}
img.profile-image {
    max-width: 50px;
    max-height: 50px;
    overflow: hidden;
}
</style>
