<template>
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h2>
                  Coupons
                </h2>
                <button @click="create" class="btn btn-primary waves-effect m-t-10" ><i class="fa fa-plus-circle"></i>
                    &nbsp; Add New Coupon
                </button>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Discount Price</th>
                        <th>Date From</th>
                        <th>Date To</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in items">
                        <td>{{ item.name }}</td>
                        <td>{{ item.coupon_code }}</td>
                        <td>{{ item.discount_price | currency }}</td>
                        <td>{{ item.date_from }}</td>
                        <td>{{ item.date_to }}</td>
                        <td>
                            <!--<button class="btn btn-sm btn-default waves-effect" title="Edit" @click="editItem(item)"><i class="material-icons">edit</i></button>-->
                            <button class="btn btn-sm btn-danger waves-effect" title="Delete" @click="deleteItem(item, index)"><i class="material-icons">delete</i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <modal ref="modal">
            <div slot="title">
                <span>{{ mode === 'create' ? 'Create' : 'Edit' }} Coupon</span>
            </div>
            <div slot="body">
                <form @submit.prevent="submitForm">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <div class="form-line">
                            <input class="form-control" v-model="form.name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Code</label>
                        <div class="form-line">
                            <input class="form-control" v-model="form.coupon_code" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Discount Price</label>
                        <div class="form-line">
                            <input class="form-control" type="number" step="0.01" v-model="form.discount_price" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Date From</label>
                        <div class="form-line">
                            <input type="date" class="form-control" v-model="form.date_from" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Date To</label>
                        <div class="form-line">
                            <input type="date" class="form-control" v-model="form.date_to" required>
                        </div>
                    </div>
                    <button class="hidden" ref="btnSubmit"></button>
                </form>
            </div>
            <div slot="footer">
                <div class="pull-right">
                    <button class="btn btn-default waves-effect" data-dismiss="modal" :disabled="submitting"><i class="material-icons">cancel</i> Cancel</button>
                    <button class="btn btn-primary waves-effect" @click="$refs.btnSubmit.click()" ><i class="material-icons" :disabled="submitting">save</i> Submit</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </modal>

    </div>
</template>

<script>
import Modal from './Modal';
import * as Modes from '../constants/modes';

export default {
  data () {
    return {
      items: [],
      item: '',
      loadingData: false,
      form: {
        name: '',
        coupon_code: '',
        discount_price: '',
        date_from: '',
        date_to: ''
      },
      mode: Modes.CREATE,
      submitting: false,
      requestErrors:'' 
    }
  },
  components: {
    Modal
  },
  created () {
    this.getItems()
  },
  methods: {
    async getItems () {
      try {
        this.loadingData = true
        const response = await axios.get('/web-api/voucher')
        this.items = response.data.data
        this.loadingData = false
      } catch (error) {
        //   fails
      }
    },
    resetForm () {
      this.$refs.modal.hide()
      this.form = {
        name: '',
        coupon_code: '',
        discount_price: '',
        date_from: '',
        date_to: ''
      }
      this.mode = Modes.CREATE
    },
    create () {
      this.mode = Modes.CREATE
      this.resetForm()
      this.$refs.modal.show()
    },
    editItem (item) {
      this.mode = Modes.EDIT
      this.form = Object.assign({}, item)
      this.$refs.modal.show()
    },
    submitForm () {
      if (this.mode === 'create') {
        this.createItem()
      } else {
        this.updateItem()
      }
    },
    async createItem () {
      try {
        this.submitting = true
        const response = await axios.post('/web-api/voucher', this.form)
        toastr.success(`${this.form.name} has been created.`);
        this.getItems()
        this.submitting = false
        this.resetForm()
      } catch (error) {
        if (error.response.status === 422) {
            let errors = ''
            for (let key in error.response.data.errors) {
                errors += error.response.data.errors[key].join(',')
            }
            toastr.error(errors)
        }
        this.submitting = false
      }
    },
    async updateItem () {
      try {
        this.submitting = true
        const response = await axios.put('/web-api/voucher/' + this.form.id, this.form)
        toastr.success(`${this.form.name} has been updated.`);
        this.getItems()
        this.submitting = false
        this.resetForm()
      } catch (error) {
        this.submitting = false
        if (error.response && error.response.status === 422) {
            let errors = ''
            for (let key in error.response.data.errors) {
                errors += error.response.data.errors[key].join(',')
            }
            toastr.error(errors)
        }
      }
    },
    async deleteItem (item, index) {
      try {
        window.Utils.confirm({
          message: `Are you sure you want to delete ${item.name}?`,
          success: {
            label: `Delete`,
            className: 'btn-danger waves-effect'
          },
          callback: async (result) => {
            console.log(result)
            if (!result) {
              return
            }
            const response = await axios.delete('/web-api/voucher/' + item.id)
            this.items.splice(index, 1)
            toastr.success(`${item.name} has been deleted.`)
          }
        })
      } catch (error) {
        //   fails
      }
    }
  }
}
</script>
