<template>
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h2>
                  Withdrawal
                </h2>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in items">
                        <td>{{ item.user && item.user.name }}</td>
                        <td>{{ item.amount | currency }}</td>
                        <td>
                            <button class="btn btn-sm btn-primary waves-effect" title="Edit" @click="approveWithdrawal(item)">Aprroved</button>
                        </td>
                    </tr>
                    <tr v-if="!items.length" class="text-center">
                        <td colspan="3">No Data</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import Modal from './Modal';
import * as Modes from '../constants/modes';

export default {
  data () {
    return {
      items: [],
      item: '',
      loadingData: false,
      mode: Modes.CREATE,
      submitting: false,
      requestErrors:'' 
    }
  },
  components: {
    Modal
  },
  created () {
    this.getItems()
  },
  methods: {
    async getItems () {
      try {
        this.loadingData = true
        const response = await axios.get('/web-api/withdrawal?status=pending&include=user')
        this.items = response.data.data
        this.loadingData = false
      } catch (error) {
        //   fails
      }
    },
    async approveWithdrawal (item) {
      try {
        window.Utils.confirm({
          message: `Are you sure you want to continue?`,
          success: {
            label: `Continue`,
            className: 'btn-primary waves-effect'
          },
          callback: async (result) => {
            console.log(result)
            if (!result) {
              return
            }
            const response = await axios.post('/web-api/withdrawal/' + item.id + '/approve')
            this.getItems()
            toastr.success(`Successfull.`)
          }
        })
      } catch (error) {
        //   fails
      }
    }
  }
}
</script>
