<template>
  <div class="row">
      <div class="col-md-12">
            <div class="box mt-2 mb-2 p-4">
                <div class="row mt-2 mb-2">
                    <div class="col-md-12 text-right">
                        <select name="" id="" class="form-control float-right" style="max-width:200px;">
                            <option value="">All Employees</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-2 text-center">
                        <div class="top mb-4">
                            top
                        </div>
                    </div>
                    <div class="col-md-10">
                        <ul class="filter-letter-list">
                            <li v-for="item in letters">
                                <a class="mb-2" href="javascript:void(0)" @click="selectedLetter = item" :class="{ 'active-filter': selectedLetter === item }">{{ item }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <table style="width:100%;" class="employee-table">
                    <tbody>
                        <tr>
                            <td colspan="1" class="text-center"><h1>{{ displaySelectedLetter }}</h1></td>
                            <td colspan="2" class="text-center"></td>
                            <td class="text-center"><h4 style="font-size: 21px;">Select A Day</h4></td>
                        </tr>
                        <tr v-for="item in filteredEmployees" class="borderd-tr">
                            <td class="text-center" style="width: 130px;">
                                <img class="employee-profile" :src="item.employee && item.employee.photo ? item.employee.photo : '/img/pro-pic.jpg'" alt="">
                            </td>
                            <td style="width: 209px;" class="pl-4">
                                <p>
                                    <span class="title">{{ item.employee && item.employee.name }}</span>
                                    <span class="description">{{ item.employee && item.employee.job_title }}</span>
                                </p>
                            </td>
                            <td class="text-left">
                                <p>
                                    <span class="title">
                                        <i class="fa fa-clock-o"></i> &nbsp;&nbsp;
                                        Ext: {{ item.employee && item.employee.telephone_ext }}
                                    </span>
                                </p>
                            </td>
                            <td style="width: 200px;" class="text-center">
                                <set-appointment :employee_id="item.employee.id" :custom_number="custom_number" ></set-appointment>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
      </div>
  </div>
</template>

<script>
import SetAppointment from './SetAppointment'

export default {
  data () {
    return {
      employees: [
          'Bill Gates',
          'Mark Zuckerberg',
          'Steve Jobs'
      ],
      letters: ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'],
      selectedLetter: '',
      userEmployees: []
    }
  },
  props: ['custom_number'],
  computed: {
      displaySelectedLetter () {
          return this.selectedLetter.toUpperCase()
      },
      filteredEmployees () {
        return this.selectedLetter ? this.userEmployees.filter(value => {
            return value.employee && value.employee.name[0].toLowerCase() === this.selectedLetter
        }) : this.userEmployees
      }
  },
  created () {
    this.getUserEmployees()
  },
  components: {
    'set-appointment': SetAppointment
  },
  methods: {
    async getUserEmployees () {
      try {
        const custom_number = this.custom_number ? 'custom_number=' + this.custom_number : ''
        const filters = this.toQueryFilter([
          custom_number
        ])
        const response = await axios.get('/web-api/user-employees' + filters)
        this.userEmployees = response.data.data
      } catch (error) {
        //   fails
        console.log(error)
      }
    }
  }
}
</script>


<style scoped>
.box {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 1px 1px #c1c1c1;
    border-radius: 3px;
}
img.employee-profile {
    background: #eaeaea;
    padding: 4px;
    max-width: 200px;
    width: 100%;
    border-radius: 4px;
}
table.employee-table tr {
    height: 124px;
}
span.title {
    display: block;
    font-size: 17px;
    font-weight: 600;
    color: #807d7d;
}
span.description {
    font-size: 13px;
    margin-top: -1px;
    display: block;
    color: #989898;
}
button.btn-connect {
    border: none;
    background: #ff9222;
    color: #ffff;
    padding: 10px 19px;
    border-radius: 2px;
}
button.btn-connect:hover {
    box-shadow: 0 1px 1px #c1c1c1;  
}

tr.borderd-tr {
    height: 145px !important;
}
ul.filter-letter-list {
    padding-left: 0px;
}
ul.filter-letter-list li {
    display: inline-block;
}
ul.filter-letter-list li a {
    width: 24px;
    display: block;
    padding: 2px;
    background: #dedddb;
    color: #8e8b8b;
    text-align: center !important;
    text-transform: uppercase;
}
.top {
    display: block;
    padding: 2px;
    background: #dedddb;
    color: #8e8b8b;
    text-align: center !important;
    display: block;
    border-radius: 2px;
    text-transform: uppercase;
}
a.active-filter {
    color: white !important;
    background: #fe8024 !important;
}
</style>
