
// Body
$body-bg: #f5f8fa;
$primary-color: #FE8122;
$hover: darken($primary-color, 10%);
$white: #fff;
$footer-bg: #161616;
$footer-list-text: #727272;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;