
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-awesome
@import "node_modules/font-awesome/scss/font-awesome.scss";


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/* Custom Css Here */

.navbar {
  webkit-box-shadow: 1px 1px 1px #e6e1dd;
  -moz-box-shadow: 1px 1px 1px #e6e1dd;
  box-shadow: 1px 1px 1px #e6e1dd;
  ul {
    .active {
      background: $primary-color;
      border-bottom: 2px solid $primary-color;
      margin-top: -12px;
      margin-bottom: -13px;
      line-height: 45px;
      a {
        color: #fff !important;
        font-weight: bold;
      }
    }
  }
}
.homepage-banner {
  background: url('~/img/appointment.jpg');
  background-size: cover;
  height: 600px;
  background-position-x: -80px;
}

.btn-primary {
  background: $primary-color;
  border: 2px solid $primary-color;
}

.bg-primary {
  background-color: $primary-color !important;
  border: 2px solid $primary-color;
  color: $white;
}

.btn-primary {
  &:hover{
    background: $hover;
    border: 2px solid $hover;
  }
}
input, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #da6914;
  border-color: #da6914;
}
input, .btn-primary.focus, .btn-primary:focus {
  // box-shadow: 0 0 0 0.2rem rgba(255, 153, 0, 0.1);
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 153, 0, 0.1) !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 153, 0, 0.1) !important;
}
.hero-bar {
  background: $primary-color;
  color: $white;
}
.footer {
  background-color: $footer-bg;
}
ul {
  list-style: none;
}
li{
  color: #727272;
}
.trueHeader {
  position: fixed;
  top: 0;
  width: 100%;
}

.footer1 {
  ul.quick_links {
    width: 100%;
    padding: 0px;
    margin: 0px;
    float: left;
  }
}
h4.white {
  color: $white;
}
.newsletter {
  padding: 0px;
  margin: 0px;
  float: left;
}
.payment_logos li a.chat_but {
  padding: 10px 20px;
  margin: 0 0 0 25px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  float: left;
  border-radius: 2px;
  background-color: #8ac700;
}
.newsletter .email_input {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 0 none;
  color: #727272;
  float: left;
  font-size: 13px;
  font-weight: normal;
  height: 39px;
  line-height: 39px;
  padding: 0 7px;
  width: 72%;
}
.footer1 p {
  color: #fff;
}
.padd_bot1 {
  padding-bottom: 10px;
}
.margin_top1 {
  float: left;
  width: 100%;
  margin-top: 10px;
}
.email_submit.two {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #FE8122;
  background-color: #FE8122;
}
.email_submit {
  padding: 0 10px 0 10px;
  margin: 0px 0px 0px 0px;
  float: left;
  height: 39px;
  color: #fff;
  border: 1px solid #FE8122;
  background-color: #FE8122;
}
li>a {
  color: #727272;
}
li>a:hover {
  color: #fff;
  text-decoration: none;
}
.imgs-padding>ul>li>img {
  opacity: .9;
}
.imgs-padding>ul>li>img:hover {
  opacity: 1;
}
.copyrights ul.social_icons li a:hover {
  color: #727272;
  background-color: #fff;
}
// End Footer

// Start - What we offer 
.ontimeo-box {
  margin-top: 0px !important;
  margin-bottom: 20px;
}
.ontimeo-box {
  -webkit-box-shadow: 0px 0px 18px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 18px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 18px -2px rgba(0,0,0,0.75);
  margin-top: 40px;
  margin-bottom: 40px;
}
.text_holder {
  display: inline-table;
}
.ontimeo-content {
  padding: 10px;
  color: #828282;
}
.ontimeo-content.active, .ontimeo-content:hover {
  background-color: #FE8122;
  color: #fff;
}
.icon {
  padding: 10px;
}
.text_holder .icon, .text_holder .text {
    display: table-cell;
}

// End - What we offer 

// Start section offer
.about-section {
  background-color: $white;
}
section.offer {  
  background-color: $white;
}

// Start schedule
.captions {
  z-index: 10;
  color: $white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  padding-top: 130px;
  .link-text {
    a {
      color: $white;
    }
  }
}

/* Price Plans */
.section_holder33 {
  text-align: center;
  color: #000;
  margin: 30px 0px;
}

.section_holder33 .price_table_holder {
  display: inline-flex;
  padding: 0;
  margin: 0 -1.5px;
}

.section_holder33 .price_table {
  width: 100%;
  float: left;
  padding: 0;
  margin: 20px 0 0 0;
  text-align: center;
  background-color: #272727;
  border-right: 1px solid #4b4b4b;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.section_holder33 .price_table .plan_title_desc {
  border-bottom: 1px solid #4b4b4b;
  color: #fff;
  text-align: left;
  padding: 10px 15px 5px;
}

.section_holder33 .price_table .plan_title_desc .title {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  /* padding: 20px 0 20px 0; */
  text-align: center;
  margin: 0px;
}

.section_holder33 .price_table .plan_title_desc .desc {
  font-size: 14px;
  line-height: 14px;
  margin: 10px 0px 0px;
}

.section_holder33 .price_table .price {
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
  padding: 8px 0px 8px;
  border-bottom: 1px solid #4b4b4b;
}

.section_holder33 .price_table .price sup {
  font-size: 22px;
  font-style: normal;
}
.section_holder33 .price_table .price i {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.section_holder33 .price_table ul.plan_features {
  width: 100%;
  float: left;
  text-align: center;
  padding: 0;
  margin: 0;
}
.margin_top3 {
  float: left;
  width: 100%;
  margin-top: 30px;
}
.section_holder33 ul.plan_features li {
  width: 70%;
  color: #a9a9a9;
  text-align: center;
  padding: 9px 0;
  margin: 0 auto;
  border-bottom: 1px solid #4b4b4b;
  line-height: 18px;
}
.section_holder33.two .plan_info .singup_but {
  color: #fff;
  background-color: #FE8122;
}
.section_holder33 .plan_info .singup_but {
  color: #fff;
  text-align: center;
  padding: 8px 30px;
  margin: 0 0px 25px 0px;
  background-color: #FE8122;
}
.section_holder33 .price_table:hover .singup_but {
  color: #272727;
  background-color: #fff;
}
.section_holder33 .price_table.active {
  position: relative;
  background-color: #FE8122;
  padding: 20px 0;
  margin: 0 0 0 0;
}
.section_holder33 .price_table.active .plan_title_desc {
  color: #fff;
  border-bottom: 1px solid #20dcac;
}
.section_holder33 .price_table.active::before {
  content: "";
  border-bottom: 23px solid #FE8122;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  height: 10px;
  width: 124%;
  left: -34px;
  position: absolute;
  top: -3px;
}
.section_holder33 .price_table.active::after {
  content: "";
  border-top: 23px solid #FE8122;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  height: 10px;
  width: 124%;
  left: -34px;
  position: absolute;
}
.section_holder33 .price_table.active .singup_but {
  color: #272727;
  background-color: #fff;
}
.section_holder33 .price_table.active .plan_features li {
  color: #fff;
  border-bottom: 1px solid #20dcac;
}
.section_holder33 .price_table.active .price {
  color: #fff;
  border-bottom: 1px solid #20dcac;
}
.section_holder33 .price_table:hover {
  background-color: #FE8122;
}
.section_holder33 .price_table:hover .plan_features li {
  color: #fff;
  border-bottom: 1px solid #20dcac;
}
.section_holder33 .price_table:hover .plan_title_desc {
  color: #fff;
  border-bottom: 1px solid #20dcac;
}
.cl_title_line > div {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  border: 3px solid #FE8122;
  width: 6%;
  top: -1px;
}
.lt_title_big {
  font-size: 43px;
  padding: 0px;
  margin: 0px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
.cl_title_line {
  height: 3px;
  padding: 0px;
  margin: 15px auto 20px;
  text-align: center;
  border-bottom: 1px solid #a8a8a8;
  width: 60%;
  position: relative;
}
.lt_title_bottomtext {
  width: 60%;
  padding: 0px;
  margin: 0px auto 60px;
  text-align: center;
}
.lt_title_big span {
  font-weight: 600;
}
.section_holder33 .price_table:hover .price {
  color: #fff;
  border-bottom: 1px solid #20dcac;
}
.baa-container {
  padding-top: 45px;
  padding-bottom: 45px;
}
.cl_title_line.left {
  margin: 15px 0px 30px;
  width: 100%;
}
.cl_title_line.left > div {
  right: auto;
  left: 5px;
}
.footer_payments_types {
  width: 100%;
  float: left;
  padding: 30px;
  margin: 0;
  border-top: 1px solid #272727;
  background-color: #161616;
}
ul.payment_logos {
  padding: 0px;
  margin: 0px;
  float: left;
}
.payment_logos li {
  padding: 15px 15px 0 0;
  margin: 0px;
  line-height: 20px;
  float: left;
}
.white {
  color: #fff;
}
.imgs-padding, .text-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}
.copyrights {
  width: 100%;
  font-size: 14px;
  color: #858585;
  margin: 0px;
  float: left;
  padding: 20px 0px;
  background-color: #2E2E2E;
}
.one_half, .one_third, .one_fourth, .two_third, .three_fourth, .one_fifth {
  position: relative;
  margin-right: 4%;
  float: left;
}
.one_half {
  width: 48%;
}
.last {
  margin-right: 0 !important;
  clear: right;
}
.copyrights span {
  padding: 0px;
  margin: 0px;
  float: left;
  padding-top: 5px;
}
.copyrights ul.social_icons {
  width: 100%;
  float: left;
  padding: 0;
  margin: 0;
}
.copyrights ul.social_icons li {
  float: right;
  padding: 0;
  margin: 0;
}
.copyrights ul.social_icons li a {
  width: 35px;
  height: 35px;
  float: left;
  padding: 0;
  margin: 0 8px 0 0;
  line-height: 35px;
  text-align: center;
  color: #727272;
  font-size: 16px;
  border-radius: 100%;
  background-color: #161616;
}
.scrollup {
  color: #fff;
  width: 40px;
  height: 40px;
  opacity: 1;
  position: fixed;
  bottom: 22px;
  right: 20px;
  display: none;
  background: #FE8122;
  z-index: 999;
  padding: 1px 9px;
  font-size: 23px;
}
.newsletter {
  padding: 0px;
  margin: 0px;
  float: left;
}

/* Radion Buttons */

.funkyradio label {
  /*min-width: 400px;*/
  width: 100%;
  font-weight: bold;
  font-size: 20px;
}
.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
  display: none;
}
.funkyradio input[type="radio"]:empty ~ label, .funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.funkyradio input[type="radio"]:empty ~ label:before, .funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content:'';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 6px;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #C2C2C2;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}
.funkyradio input[type="radio"]:checked ~ label:before, .funkyradio input[type="checkbox"]:checked ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}
.funkyradio-primary input[type="radio"]:checked ~ label:before, .funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: $primary-color;
}

.price {
  color: $primary-color;
  font-weight: bold;
  font-size: 20px;
  span {
    font-size: 45px;
  }
}
.price-sale {
  font-style: italic;
  span {
    text-decoration: line-through;
    color: #6f6f6f;
  }
}
.add-ons {
  label {
    font-size:11px;
    display: block;
  }
}
.order-summary {
  .price-list {
    font-size: 14px;
    text-align: right;
  }
  .price {
    font-size: 22px;
    h5 {
      font-size: 24px;
      font-weight: bold;
    }
  }
  .card-footer {
    h3 {
      font-size: 30px;
      color: #fe8024;
      font-weight: bold;
    }
  }
}
#socialmedia {
  height: 30px;
  width: 30px;
}
#socialmedia:checked {
  background-color: #fe8024;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #fe8024;
}
.profile-photo {
  position: absolute;
  top: -150px;
  left: 50px;
}
.profile-name {
  float: left;
  margin-top: -84px;
  margin-left: -56px;
  h2 {
    font-weight: bold;
  }
}
.nav-pills {
  text-align: left;
  background: #eaecef;
  a {
    color: #4b4c4e;
    text-align: left;
  }
  .nav-item {
    &:hover {
      background: #fe8024;
      transition: all 0.6s;
      a {
        color: #fff;
      }
    }
  }
}
.profile-section {
  .box {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 1px 1px #c1c1c1;
    border-radius: 3px;
  }
}

/* social media */
.btn-social {
  text-shadow: none;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
}
.btn-facebook:link, .btn-facebook:visited {
  background: #30477a;
  color: #fff;
}
.btn-twitter:link, .btn-twitter:visited {
  background: #0087bd;
  color: #fff;
}
.btn-googleplus:link, .btn-googleplus:visited {
  background: #ba3225;
  color: #fff;
}

/* client box */
.box{
  h3 {
    color: $primary-color;
    font-size: 20px;
  }
}

/* thermometer */

.donation-meter {
  margin-left: 60px;
  width: 100px;
  .glass {
    background: #e5e5e5;
    border-radius: 100px 100px 0 0;
    display: block;
    height: 180px;
    margin: 0 35px 10px;
    padding: 5px;
    position: relative;
    width: 30px;
  }
  .amount {
    background: $primary-color;
    border-radius: 100px;
    display: block;
    width: 20px;
    position: absolute;
     bottom: 5px;
  }
  strong { display: block; text-align: center; }
  .goal {
    font-size: 30px;
  }
  .total {
    font-size: 16px;
    position: absolute;
    right: 35px;
  }
}

.bulb {
  background: #e5e5e5;
  border-radius: 100px;
  display: block;
  height: 50px;
  margin: 0 35px 10px;
  padding: 5px;
  position: relative;
    top: -20px;
    right: 15px;
  width: 50px;
  .red-circle {
    background: $primary-color;
    border-radius: 100px;
    display: block;
    height: 50px;
    width: 50px;
  }
  .filler {
    background: $primary-color;
    border-radius: 100px 100px 0 0;
    display: block;
    height: 30px;
    width: 20px;
    position: relative;
      top: -65px;
      right: -15px;
    z-index: 30;
  }
}

label#special-offer {
  color: #fff;
  font-size: 17px;
}
form>input.btn-primary {
  padding: 5px 10px 5px 10px;
  border-radius: 0px;
  width: 20% !important;
}
a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
form>input.form-control {
  border-radius: 0px;
  width: 70% !important;
}

/* custom number form */
.custom-number-form {
  input {
    height: 48px;
    border-radius: 0px;
    font-size: 18px;
  }
}
.response-custom-number {
  text-align: center;
  position: absolute;
  top: 5%;
  left: 40%;
}
.custom-holder-container {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}
.custom-holder-frame {
  z-index: 999;
  margin: auto;
  padding: 0 10%;
  height: 100%;
  display: block;
  margin-top: 0px;
  position: absolute;
  width: 92%;
  overflow-y: auto;
}
.custom-holder-scroll {
  margin-top: 50px;
  height: calc(100% - 25%);
  overflow-y: auto;
}
.btn-primary.disabled, .btn-primary:disabled {
  background: $primary-color;
  border: 2px solid $primary-color;
}

/* Checkout Page */
.card-logo {
  img {
    display: inline-block;
    width: 60px;
  }
}

/*
  Profile page
*/

.profile-frame {
  border: 2px solid #e9ecef;
  border-radius: 2px;
  max-width: 164px;
  margin: auto;
  margin-top: -158px;
}

.profile-upload-btn {
  margin-top: -31px;
  background: rgba(6, 6, 6, 0.59);
  position: absolute;
  z-index: 1000;
  width: 176px;
  max-width: 160px;
  padding: 4px 2px;
  color: #ffff;
  display: none;
  cursor: pointer;
}

.profile-frame:hover .profile-upload-btn  {
  display: block;
}

.profile-photo-uploading {
  margin-top: -31px;
  background: rgba(6, 6, 6, 0.59);
  position: absolute;
  z-index: 1000;
  width: 176px;
  max-width: 160px;
  padding: 4px 2px;
  color: #ffff;
  cursor: pointer;
}


[v-cloak] > * { display:none }

@media only screen and (max-width: 992px) {
  .profile-name {
    float: none;
    margin-top: 20px;
    margin-left: 0px;
  }

  ul.top-links li a span { 
    display: none;
  }

  .mobile-upload-btn a {
    display: block !important;
  }

  .upload-box {
    display: none !important;
  }

  .custom-dropdown:hover ul {
    margin-left: -54px !important;
    z-index: 200;
  }
}

ul.top-links {
  float: right;
  padding-left: 0px;
  margin-top: 4px;
  margin-right: 23px;
  li {
    display: inline;
    a {
      padding: 8px 5px;
      display: inline;
      font-size: 13px;
      font-weight: 600;
    }
  }
  i {
    margin-right: 2px;
  }
}

ul.top-links li a:hover {
  color: #fe8024;
}

.upload-box {
  background: rgba(6, 6, 6, 0.59);
  max-width: 200px;
  text-align: center;
  padding: 7px 5px;
  border-radius: 2px;
  color: #ffff;
  margin: auto;
  cursor: pointer;
  display: none;
}

.upload-box-uploading {
  background: rgba(6, 6, 6, 0.59);
  max-width: 200px;
  text-align: center;
  padding: 7px 5px;
  border-radius: 2px;
  color: #ffff;
  margin: auto;
  cursor: pointer;
}

.cover-photo {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px;
}

.has-cover-photo {
  color: #ffffff;
  text-shadow: 2px 2px 5px #4a4949;
}

.jumbotron.cover-photo.has-cover-photo {
  box-shadow: inset 0 -241px 241px -241px #000000;
  -moz-box-shadow: inset 0 -241px 241px -241px #000000;
  -webkit-box-shadow: inset 0 -241px 241px -241px #000000;
}

.jumbotron-wrapper:hover div.upload-box {
  display: block;
}

/* Member Activity */

.member-activity {
  background-color: #fff;
  padding: 15px;
  -webkit-box-shadow: 0 1px 1px #c1c1c1;
  box-shadow: 0 1px 1px #c1c1c1;
  border-radius: 3px;
}

.mobile-upload-btn a {
  float: left;
  padding: 2px 10px;
  color: gray;
  display: none;
}

ul.top-links.has-cover-photo li a {
  color: #fff;
}

.mobile-upload-btn.has-cover-photo a {
  color: #fff; 
}

/*
  tabs-section
*/

#tabs-section {
  .nav-tabs .nav-item {
    width: 25%;
  }
  a.nav-link {
    border: 1px solid #cdcdce;
    border-radius: 0px;
  }
  a.nav-link.active {
    border-bottom: none;
    background: #ffffff;
    color: #fe8122 !important;
  }
  li {
    border: none;
  }
  .nav-tabs {
    border-bottom: none;
  }
  .tab-icon {
    font-size: 24px;
    text-align: center;
  }
  span.tab-subtitle {
    font-size: 12px;
    color: #949494;
  }
}

#tabs-section a.nav-link:hover {
  color: #fe8122 !important;
  span.tab-subtitle {
    color: #fe8122;
  }
}

.baseline {
  vertical-align: baseline;
}

table.tab-table {
  width: 100%;
}

#whos-using {
  background: #ffff;
  padding: 55px 0px;
  .whos-using-title {
    text-transform: uppercase;
    max-width: 519px;
    margin: auto;
    padding-bottom: 4px;
    border-bottom: 1px solid #9e9e9e;
    margin-bottom: 10px;
  }
  .schedulicity {
    color: #8BC34A;
  }
}

#home-page-counter {
  padding: 42px 2px;
  background: #fe8122;
  color: #ffff;
  .counter-icons {
    font-size: 43px;
  }
  .counter-value {
    font-size: 35px;
  }
  .counter-subtitle {
    text-transform: uppercase;
    font-size: 13px;
    color: #efefef;
  }
}

section#home-page-calculate {
  padding: 85px 2px;
  background: #ffff;
  button {
    text-transform: uppercase;
    color: #ffff;
    background: #e84c3c;
    margin-top: 41px;
    border-radius: 0px;
  }
}

img#profile-photo {
  height: 160px;
  width: 160px;
  background: white;
}

.bottom-blocker {
  display: block;
  height: 90px;
  width: 100%;
}

.swal2-container {
  z-index: 50000 !important;
}

.custom-dropdown:hover ul {
  display: block;
  margin-left: -23px;
}

ul.custom-dropdown-list {
  padding-left: 0px;
  position: absolute;
  margin-top: 9px;
  background: #ffffff;
  border-radius: 2px;
  display: none;
}

li.custom-dropdown {
  padding-bottom: 12px;
}

ul.custom-dropdown-list li {
  display: block;
}

ul.custom-dropdown-list li a {
  color: #7d7a7a !important;
  text-shadow: none !important;
  display: block;
  padding: 7px 31px;
  border-bottom: 1px solid #d5d6d6;
}

ul.custom-dropdown-list li a:hover {
  color: #fff !important;
  background: #fe8122;
}

.package-counters {
  .title {
    color: #7c7d7d;
    font-size: 17px;
  }
  .package-count {
    display: block;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
  }
  .pk-box {
    border-right: 1px solid #bdc1c3;
  }
}

[v-cloak] > * { display:none }


.fade-enter-active {
  transition: opacity .3s;
}

.fade-leave-active {
  transition: opacity .2s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

#client-transactions {
  .pagination li {
    padding: 2px 7px !important;
    display: inline;
  }
  .page-item.active a {
    color: #fe8122 !important;
  }
  a:hover {
    color: #fe8122;
  }
  li.disabled-link {
      pointer-events: none;
  }
}
