<template>
    <section class="profile-section">
        <div class="row">
            <div class="col-md-12">
                <visitors></visitors>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <travel-agent></travel-agent>
            </div>
            <div class="col-md-4">
                <watch-us-grow></watch-us-grow>
            </div>
        </div>
    </section>
</template>

<script>
import Visitors from './Visitors'
import TravelAgent from './TravelAgent'
import WatchUsGrow from '../client/profile/WactchUsGrow'

export default {
  components: {
    'visitors': Visitors,
    'watch-us-grow': WatchUsGrow,
    'travel-agent': TravelAgent
  }
}
</script>

<style>
.box.claim-your-business {
    padding: 33px 30px;
}
.box.claim-your-business h3 {
    margin: 0px;
}
</style>
