<template>
    <div class="box mt-2 mb-2">
        <h3>Travel Agent</h3>
        <div>
            <table class="rank-table mt-2">
                <tbody>
                    <tr>
                        <td style="width:100px;" class="text-center">
                            <i class="fa fa-trophy rank-icon"></i>
                        </td>
                        <td>
                            <div>
                                <p>
                                    <b>Rank #1 of 93</b> <br>
                                    Hotels in Judhur
                                </p>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="claim-business">   
                                <a href="/price-plans"><i class="fa fa-check-circle"></i> Claim your Business</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center position-baseline">
                            <i class="fa fa-map-marker map-marker"></i>
                        </td>
                        <td colspan="2">
                            <h5><b>Vaughan, ON L4L 8N6</b></h5>
                            <p style="max-width: 200px;">Serving customers with 100 kilometers of 201 Chrislea Road Vaughan, ON, L4L 8N6</p>
                        </td>
                    </tr>
                    <tr class="no-border-bottom">
                        <td class="text-center">
                            <i class="fa fa-clock-o clock-icon"></i>
                        </td>
                        <td colspan="2">
                            <h5><b>Closed.</b> Opens at 10:00 AM &nbsp; <a href="#"><i class="fa fa-chevron-down"></i></a></h5>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<style scoped>
.rank-img {
    max-width: 88px;
}
ul.action-list {
    padding-left: 0px;
}
ul.action-list li {
    display: -webkit-inline-box;
    padding: 2px 11px;
    color: #9babb9;
}
ul.action-list li i {
    font-size: 24px;
}
.rank-table {
    width: 100%;
}
.map-marker {
    font-size: 36px;
    color: #ada2a2;
}
.rank-icon {
    font-size: 70px;
    color: #ada2a2;
}
.rank-table tr {
    height: 123px;
}
.rank-table td {
    border-bottom: 1px solid #e5e5e5;
    padding: 17px 2px;
}
.clock-icon {
    font-size: 36px;
    color: #ada2a2;
}
.position-baseline {
  vertical-align: baseline;
}
a {
   color: #fe8024;
}
.no-border-bottom td {
    border-bottom: none;
}
.claim-business a {
    font-size: 19px;
    text-decoration: none;
}
</style>
