<template>
    <div class="mt-2 mb-2">
        <div>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="visitor-title">Visitors to your profile</h5>
                </div>
                <div class="col-md-7">
                    <hr />
                </div>
                <div class="col-md-2">
                    <h5 class="premium-title">PREMIUM</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <ul class="visitors-list">
                        <li v-for="visitor in visitors">
                            <div>
                                <img class="visitor-image" src="/img/visitor-image-placeholder.png" alt="Visitor Image">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <p>
                        Premium members can see who's taken an interest and get in with them.
                    </p>
                    <a href="" class="premium-link">View Premium benefits</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data () {
    return {
      visitors: [1, 2, 3, 4, 5]
    }
  }
}
</script>

<style scoped>
ul.visitors-list {
    padding-left: 0px;
    margin-top: 10px;
}
ul.visitors-list li {
    display: inline-block;
    margin-right: 10px;
}
.visitor-image {
    max-width: 71px;
    border-radius: 3px;
}
.visitor-title {
    color: #19c08c;
}
.premium-title {
    font-weight: 600;
    color: #19c08c;
}
a.premium-link {
    color: #19c08c;
    font-weight: 600;
}
</style>
