<template>
  <div class="row">
      <div class="col-md-12">
            <div class="box mt-2 mb-2">
                <ul class="settings-nav">
                    <li>
                        <a href="javascript:void(0)" :class="{ 'nav-active': activeTab === 'account_info' }" @click="activeTab = 'account_info'">Account Information</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" :class="{ 'nav-active': activeTab === 'card_info' }" @click="activeTab = 'card_info'">Card Information</a>
                    </li>
                </ul>
                <transition name="fade">
                <div v-show="activeTab === 'account_info'">
                    <form action="" class="p-4">
                        <p>You can update your Personal and Company information here.</p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <input v-model="publicLink" disabled type="text" class="form-control" />
                                    <div class="input-group-prepend">
                                        <button class="btn btn-primary" type="button" @click="viewLink"> 
                                            <i class="fa fa-eye"></i> View
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Email Address</label>
                                    <input v-model="user.email" type="text" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">First Name</label>
                                    <input v-model="user.first_name" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Last Name</label>
                                    <input v-model="user.last_name" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Business Name</label>
                                    <input v-model="user.company_name" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Company Industry</label>
                                    <select v-model="user.company_industry" name="" id="" class="form-control">
                                        <option value="">Choose Industry</option>
                                        <option v-for="item in caseStudyCategories" :value="item.id">{{ item.name }}</option> 
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Company Bio</label>
                                    <textarea v-model="user.company_bio" cols="30" rows="3" class="form-control" placeholder="Write something."></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 mt-4">
                                <div class="form-group">
                                    <button @click="updateSettings" type="button" class="btn btn-primary btn-lg" :disabled="submitting">{{ submitting ? 'Saving...' : 'Save Changes' }}</button>
                                </div>
                            </div>
                        </div>    
                    </form>
                    <hr>
                    <p>If you want to cancel your account, click below.</p>
                    <div>
                        <form @submit.prevent="cancelSubscription" class="mb-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-default btn-lg">Cancel Subscription</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                </transition>
                <transition name="fade">
                <div v-show="activeTab === 'card_info'">
                    <form action="" class="mt-2 p-4">
                        <p>Update your account settings here.</p>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">Card Name</label>
                            <div class="col-sm-6">
                            <input type="text" class="form-control" id="inputEmail3" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">Card Number</label>
                            <div class="col-sm-6">
                            <input type="text" class="form-control" id="inputEmail3" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">Card Security Number</label>
                            <div class="col-sm-6">
                            <input type="text" class="form-control" id="inputEmail3" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">Valid Until</label>
                            <div class="col-sm-3">
                                <select class="form-control">
                                    <option value="">Select Month</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control">
                                    <option value="">Select Year</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row mt-4">
                            <div class="col-sm-12">
                                <button class="btn btn-primary btn-lg">Update Card</button>
                            </div>
                        </div>
                    </form>
                </div>
                </transition>
            </div>
      </div>
  </div>
</template>

<style scoped>
.box {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 1px 1px #c1c1c1;
    border-radius: 3px;
}
input {
    box-shadow: none !important;
}
</style>

<script>
import swal from 'sweetalert2'

export default {
  data () {
    return {
      submitting: false,
      caseStudyCategories: [],
      activeTab: 'account_info'
    }
  },
  props: ['user'],
  created () {
    this.getCaseStudyCategories()
  },
  methods: {
    async updateSettings () {
      try {
        const formData = {
          first_name: this.user.first_name,
          last_name: this.user.last_name,
          company_name: this.user.company_name,
          company_bio: this.user.company_bio,
          company_industry: this.user.company_industry
        }
        this.submitting = true
        const response = await axios.post('/web-api/account/details', formData)
        window.location.reload() // reload page to refresh values for other parts e.g. name on profile
        // this.submitting = false
      } catch (error) {
        this.submitting = false
      }
    },
    async getCaseStudyCategories () {
      try {
        const response = await axios.get('/case-study-category')
        this.caseStudyCategories = response.data.data
      } catch (error) {
        //   fails
      }
    },
    async cancelSubscription () {
        swal({
            title: 'Are you sure?',
            text: "You are about to cancel your subscription.",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
        }).then(async function (action) {
        if (action.dismiss !== 'cancel') {
            try {
                const response = await axios.post('/web-api/account/subscription/cancel')
                window.location.reload()
            } catch (error) {
                //   fails
                 swal('', "Something went wrong try again.", 'error')
            }
        }
        }.bind(this)).catch(swal.noop)
    },
    viewLink: function () {
        window.open(this.publicLink)
    }
  },
  computed: {
      publicLink() {
          return this.$root.baseUrl + '/v/' + this.user.custom_number
      }
  }
}
</script>

<style>
ul.settings-nav {
    padding-left: 0px;
    margin-top: 3px;
    margin-bottom: 0px;
}
ul.settings-nav li {
    display: inline-block;
}
ul.settings-nav li a {
    font-size: 18px;
    padding: 8px 12px;
    display: block;
}
ul.settings-nav li a:hover {
    color: #fe8122;
}
.nav-active {
    border-bottom: 1.5px solid #fe8122;
    color: #fe8122;
    font-weight: 600;
}
</style>
