<template>
<transition name="fade" v-if="isDataLoaded">
  <div class="row">
      <div class="col-md-12">
            <div class="row">
                <div class="col-md-10">
                    <div class="box mt-2 mb-4">
                    <div class="row package-counters">
                        <div class="col-sm-3 pk-box">
                                <div class="title text-center">Prepaid Appointment</div>
                                <div class="package-count">
                                    {{ transactionSummary.prepaid_appointments | currency }}
                                </div>
                        </div>
                        <div class="col-sm-3 pk-box">
                                <div class="title text-center">Free Appointment</div>
                                <div class="package-count">
                                    ({{ transactionSummary.free_appointments }})
                                </div>
                        </div>
                        <div class="col-sm-3 pk-box">
                                <div class="title text-center">Active Appointment</div>
                                <div class="package-count">
                                    {{ transactionSummary.active_appointments | currency }}
                                </div>
                        </div>
                        <div class="col-sm-3 pk-box" style="border-right:none;">
                                <div class="title text-center">Personal Balance</div>
                                <div class="package-count">
                                    {{ transactionSummary.personal_balance | currency }}
                                </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-md-2 text-center mb-4">
                    <button @click="resetWithdrawValues" data-toggle="modal" data-target="#withdraw-modal" class="btn btn-lg withdraw-button">Widthdraw</button>
                </div>
            </div>
            <div class="box mt-2 mb-2 transaction-container">
                <div class="row transactions-header">Transactions</div>
                <div class="transactions-nav mt-4">
                    <ul class="transaction-nav">
                        <li><a href="">Show</a></li>
                        <li>
                            <select v-model="typeFilter">
                                <option value="">ALL</option>
                                <option value="withdrawal">Cash Widthdraw</option>
                                <option value="appointment fee">Appointment</option>
                                <option value="subscription invoice">Subscription</option>
                            </select>
                        </li>
                        <li><a href="">Transactions</a></li>
                    </ul>
                </div>
                <div>
                    <table class="transaction-table mb-4">
                        <thead>
                            <tr>
                                <th>DATE</th>
                                <th>FOR</th>
                                <th class="text-right">AMOUNT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in transactions">
                                <td>{{ formatDateTransaction(item.created_at) }}</td>
                                <td>
                                    {{ item.type | capitalize  }}
                                    <div v-if="item.type === 'withdrawal'" style="padding-left: 6px;">
                                        <small v-if="item.reference.status === 'done'">completed</small>
                                        <small v-else>{{ item.reference.status }}</small>
                                    </div>
                                </td>
                                <td class="text-right" :style="`color:${ transactionStyle(item.type).color };`">
                                       {{ !transactionStyle(item.type).positive ? '-' : ''  }}{{ (item.reference.amount || item.reference.fee) | currency }}
                                </td>
                            </tr>
                            <tr v-show="loadingTransaction">
                                <td colspan="4" class="text-center">
                                    loading...
                                </td>
                            </tr>
                            <tr v-show="!loadingTransaction && !transactions.length">
                                <td colspan="4" class="text-center">
                                    No Data
                                </td>
                            </tr>
                        </tbody>
                    </table>
                   <div id="client-transactions">
                        <paginate
                        v-if="transactionsPagination"
                        :disabled-class="'disabled-link'"
                        :page-count="transactionsPagination.pagination.total_pages"
                        :click-handler="paginate"
                        :prev-text="'Prev'"
                        :next-text="'Next'"
                        :container-class="'pagination'"
                        :page-class="'page-item'"
                        :prev-link-class="'previous'"
                        :next-link-class="'next'"
                        >
                        </paginate>
                   </div>
                </div>
            </div>
      </div>

    <!-- Modal -->
    <div class="modal fade" id="withdraw-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modelTitleId">Withdraw</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
                    
                </div>
                <div class="modal-body">
                    <div>
                        <form @submit.prevent="withdrawAmount">
                            <table class="withdraw-table">
                                <tr>
                                    <td style="width: 148px;">From this balance</td>
                                    <td>
                                        <b>{{ transactionSummary.personal_balance | currency }} USD</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Amount</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <input v-model="toWithdrawAmount" type="text" class="form-control" required>
                                            </div>
                                            <div class="col-sm-6 text-left">
                                                USD
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>To</td>
                                    <td>
                                        <select v-model="bankAccount" class="form-control" required>
                                            <option value="">Select Bank Account</option>
                                            <option>{{ $root.currentUser.card_brand + ' ' + $root.currentUser.card_last_four }}</option>
                                        </select>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td></td>
                                    <td>
                                        <a href="javascript:void(0)" class="mt-5 withdraw-links">Add Bank Account</a>
                                        |
                                        <a href="javascript:void(0)" class="mt-5 withdraw-links">Currency converter</a>
                                    </td>
                                </tr> -->
                            </table>
                            <button style="display:none;" ref="submitWithdraw"></button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button :disabled="!toWithdrawAmount || toWithdrawAmount < 1 || requestingWithdraw || !bankAccount" type="button" class="btn btn-primary" @click="$refs.submitWithdraw.click()">{{ requestingWithdraw ? 'Please wait...' : 'Continue' }}</button>
                </div>
            </div>
        </div>
    </div>

  </div>
</transition>
</template>

<script>
import swal from 'sweetalert2'
import moment from 'moment'

export default {
  data () {
    return {
      transactionSummary: '',
      isDataLoaded: false,
      requestingWithdraw: false,
      transactions: [],
      transactionsPagination: '',
      transactionsPage: 1,
      typeFilter: '',
      loadingTransaction: false,
      toWithdrawAmount: '',
      bankAccount: ''
    }
  },
  watch: {
    transactionsPage () {
      this.getTransactions()
    },
    typeFilter () {
      this.getTransactions()
    },
  },
  async created () {
    await this.getTransactionsSummary()
    await this.getTransactions()
    this.isDataLoaded = true
  },
  methods: {
    async getTransactionsSummary () {
      try {
        const response = await axios.get('/web-api/transaction/summary')
        this.transactionSummary = response.data
      } catch (error) {
        //   fails
      }
    },
    resetWithdrawValues () {
      this.toWithdrawAmount = ''
      this.bankAccount = ''
    },
    async getTransactions () {
      try {
        this.loadingTransaction = true
        const type = this.typeFilter ? '&type=' + this.typeFilter : ''
        const response = await axios.get('/web-api/transaction?page=' + this.transactionsPage + type)
        this.loadingTransaction = false
        this.transactions = response.data.data
        this.transactionsPagination = response.data.meta        
      } catch (error) {
        //   fails
      }
    },
    paginate (page) {
      this.transactionsPage = this.transactionsPage === page ? this.transactionsPage : page
    },
    async withdrawAmount () {
        swal({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
        }).then(async function (action) {
        if (action.dismiss !== 'cancel') {
            try {
                this.requestingWithdraw = true
                const amount = this.toWithdrawAmount
                const response = await axios.post('/web-api/withdrawal', { amount })
                this.requestingWithdraw = false
                this.toWithdrawAmount =  ''
                this.bankAccount = ''
                $('#withdraw-modal').modal('hide')
                swal('Success', 'Transaction Successfully Created!', 'success')
                this.getTransactionsSummary()
                this.getTransactions()
            } catch (error) {
                //   fails
                this.requestingWithdraw = false
                console.log(error)
                swal('', 'Something went wrong.', 'error')
            }
        }
        }.bind(this)).catch(swal.noop)
    },
    formatDateTransaction (date) {
      return moment(date).format('MMMM D, Y')
    },
    transactionStyle (type) {
      if (type === 'prepaid appointment' || type === 'subscription refund') {
        return { color: '#8bc34a', positive: true }
      } else {
        return { color: '#ff0000', positive: false }
      }
    }
  }
}
</script>


<style scoped>
.box {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 1px 1px #c1c1c1;
    border-radius: 3px;
}
img.img-email-sync {
    background: #eaeaea;
    border-radius: 52px;
    padding: 11px;
}
table.email-sync-table tr {
    height: 124px;
}
span.title {
    display: block;
    font-size: 17px;
    font-weight: 600;
    color: #807d7d;
}
span.description {
    font-size: 13px;
    margin-top: 10px;
    display: block;
    color: #989898;
}
button.btn-connect {
    border: none;
    background: #ff9222;
    color: #ffff;
    padding: 10px 19px;
    border-radius: 2px;
}
button.btn-connect:hover {
    box-shadow: 0 1px 1px #c1c1c1;  
}
.transaction-container {
    padding-top: 0px !important;
}
.row.transactions-header {
    padding: 15px 16px;
    color: #fff;
    background: #fe8122;
}
h3 {
    color: #fff !important;
}
.transaction-nav ul {
    padding-left: 0px;
    margin-top: 10px;
}
.transaction-nav ul li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}
select.transactions-table-filter {
    padding: 3px 4px;
    border: 1px solid #cac3c3;
    margin-top: 7px;
}
ul.transaction-tabs {
    padding-left: 0px;
}
ul.transaction-tabs li {
    display: inline;
    margin-left: 8px;
    margin-right: 8px;
}
span.tab-counter {
    background: #80808042;
    padding: 0px 11px;
    position: relative;
    border-radius: 15px;
}
ul.transaction-tabs li a:hover {
    color: #ff9800;
}
ul.transaction-nav {
    padding-left: 0px;
}
.transaction-nav li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}
.transaction-nav li a:hover {
    color: #ff9800;
}
.transaction-nav li a {
    text-transform: uppercase;
}
table.transaction-table {
    width: 100%;
}
table.transaction-table tr {
    height: 37px;
    border: 1px solid #cdd1d4;
}
table.transaction-table td, table.transaction-table th {
    padding: 2px 17px;
}
table.transaction-table td {
    padding: 15px 17px !important;
}
.withdraw-button {
    margin-top: 38px;background: #007bff;
    border-color: #007bff;
    color: #fff;
}
.withdraw-button:hover  {
    margin-top: 38px;
    background: #0c70dc;
    border-color: #0c70dc;
    color: #fff;
}
.package-counters .title {
    color: #7c7d7d;
    font-size: 14px;
}
table.withdraw-table {
    width: 100%;
}
table.withdraw-table tr {
    height: 42px;
}
table.withdraw-table td {
    padding: 7px 2px;
}
.withdraw-links {
    color:#FE8122;
}
input {
    box-shadow: none !important;
}
</style>
