<template>
  <div class="day-container">
      <div class="row">
          <div class="col-lg-3 col-md-12 col-sm-6">
              <div>
                  <table>
                      <tr>
                          <td style="width: 500px;">
                              <div for="day" class="day-title">{{ name }}</div>
                          </td>
                          <td>
                            <label class="switch">
                                <input type="checkbox" name="day" v-model="isChecked">
                                <span class="slider round" @click.prevent="triggerSwitch"></span>
                            </label>
                          </td>
                      </tr>
                  </table>
              </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
              <transition name="fade">
                <div v-show="isChecked">
                    <div @click="setInviteSlot('one_on_one')" class="invite-slot" :class="{ 'active-slot': type === 'one_on_one' }">
                    <p class="invite-slot-title"><span class="fa fa-user"></span> One-on-One</p>
                    <small>Allow invitees to schedule <br> individual slots</small>
                </div>
                <br>
                <div @click="setInviteSlot('group')" class="invite-slot" :class="{ 'active-slot': type === 'group' }" v-show="$root.userAddOns.indexOf('Extensions') > -1">
                    <p class="invite-slot-title"><span class="fa fa-users"></span> Group</p>
                    <small>Allow multiple invitees to <br> schedule the same slot</small>
                </div>
                </div>
              </transition>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
              <transition name="fade">
                  <div v-show="type  && this.isChecked">
                    <div class="white-card">
                        <b>Strategic Time</b>
                        <div class="time-interval-list">
                            <input v-model="timeInterVal" value="15" type="radio" class="form-check-input"> <small>15 minutes interval</small>
                            <input v-model="timeInterVal" value="30" type="radio" class="form-check-input"> <small>30 minutes interval</small>
                            <input v-model="timeInterVal" value="60" type="radio" class="form-check-input"> <small>60 minutes interval</small>
                        </div>
                    </div>
                    <br />
                    <div class="white-card" v-show="$root.userAddOns.indexOf('Prepaid') > -1">
                        <b style="margin-left: 20px;"><input v-model="isPreBooking" type="checkbox" class="form-check-input"> Pre Booking $</b>
                        <transition name="fade">
                            <div v-show="isPreBooking" class="mt-2">
                                <div class="form-group">
                                    <label for=""><small>Pre Amount</small></label>
                                    <input v-model="preAmount" type="number" class="form-control">
                                </div>
                                <!-- <div class="form-group">
                                    <label for=""><small>Full Amount</small></label>
                                    <input v-model="fullAmount" type="number" class="form-control">
                                </div> -->
                            </div>
                        </transition>
                    </div>
                  </div>
              </transition>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
              <form @submit.prevent="saveSchedule">
              <transition name="fade">
                  <div v-show="timeInterVal && this.isChecked">
                    <div class="white-card">
                        <b class="avail_type-title">
                            <input v-model="avail_type" value="open_hours" type="radio" class="form-check-input"> Open Hours
                            <input v-model="avail_type" value="appointment_only" type="radio" class="form-check-input"> Appointment Only
                        </b>
                            <div v-if="avail_type === 'open_hours'" class="mt-2">
                                <div class="form-group">
                                    <label for=""><small>From</small></label>
                                    <select v-model="availFrom" class="form-control" required>
                                        <option value="">Select Time</option>
                                        <option v-for="option in timeOptionsFrom">{{ option }}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for=""><small>To</small></label>
                                    <select v-model="availTo" class="form-control" required>
                                        <option value="">Select Time</option>
                                        <option v-for="option in timeOptionsTo">{{ option }}</option>
                                    </select>
                                </div>
                            </div>
                            <div v-if="avail_type === 'appointment_only'" class="mt-2">
                                <div class="form-group">
                                    <label for=""><small>Time</small></label>
                                    <select v-model="timeAppointment" class="form-control">
                                        <option value="">Select Time</option>
                                        <option v-for="option in timeOptions">{{ option }}</option>
                                    </select>
                                </div>
                                <div class="form-group text-right">
                                    <button  type="button" @click="addTimeAppointment" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> &nbsp; Add</button> 
                                </div>
                                <div class="form-group" v-show="timeAppointments.length">
                                    <table class="table table-sm">
                                        <tbody>
                                            <tr v-for="(item, index) in timeAppointments">
                                                <td>{{ item }}</td>
                                                <td><i class="fa fa-remove cursor-pointer" @click="removeTimeAppointment(index)"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <br>
                            <button v-show="avail_type" :disabled="saving" class="btn btn-primary btn-block"><i class="fa fa-save"></i> &nbsp; {{ saving ? 'Saving...' : 'Save' }}</button>
                    </div>
                  </div>
              </transition>
              </form>
          </div>
      </div>
  </div>
</template>

<script>
import moment from 'moment'
import swal from 'sweetalert2'
import Sweetalert2 from 'sweetalert2';

export default {
  data () {
    return {
      isChecked: false,
      type: '',
      isPreBooking: false,
      preAmount: '',
      fullAmount: '',
      avail_type: '',
      timeInterVal: '',
      timeAppointments: [],
      timeAppointment: '',
      availFrom: '',
      availTo: '',
      isFirstLoaded: false,
      timeInterVals: [
        { value: 15 },
        { value: 30 },
        { value: 60 }
      ],
      saving: false,
      isActiveByDefault: false,
      status: ''
    }
  },
  computed: {
    timeOptions () {
      // get the time options base on selected time interval
      let timeInterVal = this.timeInterVal ? this.timeInterVal : 1
      const hours = []
      let hour = 6 // starting time in hour
      while (hour < 23) {
        let minute = 0
        while (minute <= 60) {
          if (minute < 60) {
            let forMattedHour = moment({ hour, minute }).format('h:mm A')
            hours.push(forMattedHour)
          }
          minute += timeInterVal // add time interval
        }
        hour++
      }
      // push end of time range
      hours.push(moment({ hour, minute: 0 }).format('h:mm A'))
      return hours
    },
    timeOptionsFrom () {
      return this.timeOptions.filter(item => {
        let startTime = moment(item, "HH:mm a")
        let endTime = moment('6:00 PM', "HH:mm a")
        return startTime.isSameOrBefore(endTime)
      })
    },
    timeOptionsTo () {
      return this.availFrom ? this.timeOptions.filter(item => {
        let startTime = moment(item, "HH:mm a")
        let endTime = moment(this.availFrom, "HH:mm a")
        return startTime.isAfter(endTime)
      }) : []
    }
  },
  watch: {
    isChecked () {
      this.status = this.isChecked ? 'active' : 'inactive'
    },
    timeInterVal () {
      // refresh values
      if (this.isFirstLoaded) {
        this.availFrom = ''
        this.availTo = ''
      }
    },
    availFrom () {
      if (this.isFirstLoaded) {
        this.availTo = ''
      }
    },
    avail_type () {
      // refresh values
      if (this.isFirstLoaded) {
        this.availFrom = ''
        this.availTo = ''
        this.timeAppointments = []
        this.timeAppointment = ''
        console.log('avail type')
      }
    }
  },
  props: ['name', 'day', 'value', 'employee_id'],
  mounted () {
    if (this.value) { // if day is active populate data from DB
      this.isChecked = this.value.status === 'active'
      this.type = this.value.type
      this.timeInterVal = this.value.interval
      this.isPreBooking = this.value.is_pre_booking
      this.preAmount = this.value.pre_amount
      this.fullAmount = this.value.full_amount
      this.avail_type = this.value.avail_type
      setTimeout(() => { // wait till dependent values are set
        if (this.avail_type === 'open_hours') {
          this.availFrom = this.value.avail_from ? moment(this.value.avail_from, "HH:mm").format("h:mm A") : ''
          this.availTo = this.value.avail_to ? moment(this.value.avail_to, "HH:mm").format("h:mm A") : ''
        } else {
          this.timeAppointments = this.value.times ? this.value.times.data.map(time => {
            return moment(time.avail_time, "HH:mm").format("h:mm A")
          }) : []
        }
      }, 100)
      setTimeout(() => {
          this.isFirstLoaded = true
      },1000)
      this.isActiveByDefault = true
    }
  },
  methods: {
    async triggerSwitch () {
      if (!this.isChecked) {
        this.refreshDaySchedule()
        this.isChecked = true
      } else {
        if (this.value && this.isActiveByDefault)  { // if day schedule exist on db
            swal({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes'
          }).then(async function (action) {
              try {
                if (action.dismiss !== 'cancel') {
                  this.isPreBooking = false
                  this.type = 'one_on_one'
                  this.avail_type = 'open_hours'
                  this.timeInterVal = 60
                  this.timeAppointment = ''
                  this.status = 'inactive'
                  console.log(this.status)
                  // update day 
                  await this.saveSchedule()
                  this.refreshDaySchedule()
                  this.isChecked = false
                  this.isActiveByDefault = false
                }
              } catch (error) {
                // fails
                console.log(error)
              }
          }.bind(this)).catch(swal.noop)
        } else {
            this.refreshDaySchedule()
        }
      }
    },
    refreshDaySchedule () {
      this.type = ''
      this.isPreBooking = false
      this.avail_type = ''
      this.timeInterVal = ''
      this.timeAppointment = ''
      this.availFrom = ''
      this.avail_to = ''
      this.timeAppointments = []
      this.preAmount = ''
      this.fullAmount = ''
      // update day 
      this.isChecked = false
      this.isActiveByDefault = false
      console.log('refresh data when this record is not recorded on db')
    },
    setInviteSlot (data) {
      this.type = data
    },
    addTimeAppointment () {
      if (this.timeAppointment) {
        if (!this.timeAppointments.find(item => item === this.timeAppointment)) {
          this.timeAppointments.push(this.timeAppointment)
          this.timeAppointment = ''
        } else {
          swal('', "You've already added this time.", 'error')
        }
      }
    },
    removeTimeAppointment (index) {
      this.timeAppointments.splice(index, 1)
    },
    async saveSchedule () {
      try {
        const avail_from  = this.availFrom ? moment(this.availFrom, "h:mm A").format("HH:mm") : ''
        const avail_to = this.availTo ? moment(this.availTo, "h:mm A").format("HH:mm") : ''
        const times = this.timeAppointments.map(element => {
            return moment(element, "h:mm A").format("HH:mm")
        })
        const formData = {
          day: this.day,
          type: this.type,
          avail_type: this.avail_type,
          interval: this.timeInterVal,
          avail_from: this.availFrom && this.availTo ? avail_from : '00:00',
          avail_to: this.availFrom && this.availTo ? avail_to : '06:00',
          is_pre_booking: this.isPreBooking,
          status: this.status,
          avail_times: times,
          pre_amount: this.preAmount,
          full_amount: this.fullAmount,
          employee_id: this.employee_id
        }
        this.saving = true
        const response = await axios.post('/web-api/schedule', formData)
        this.saving = false
        swal('Success', 'Successfully Saved!', 'success')
      } catch (error) {
        this.saving = false
      }
    }
  }
}
</script>


<style scoped>
.switch {
  position: relative;
  width: 60px;
  height: 34px;
  float: left;
  margin-bottom: 0px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #fe8024;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fe8024;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.day-title {
    font-weight: 600;
    font-size: 18px;
}

.day-container {
    padding: 8px 0px;
    border-bottom: 1px solid #e5e5e5;
}

.invite-slot {
    padding: 7px 11px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

p.invite-slot-title {
    font-size: 20px;
}

.invite-slot {
    padding: 9px 11px;
    border-radius: 3px;

    text-align: center;
    cursor: pointer;
    background: #f1f1f1;
    color: #949090;
}

.active-slot {
    color: #ffffff;
    background: #fe8024;
}

.fade-enter-active {
  transition: opacity .3s;
}

.fade-leave-active {
  transition: opacity .2s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


.card-header a {
    font-size: 14px !important;
    color: inherit;
    text-decoration: none;
    display: block;
}

ul.pre-booking {
    padding-left: 0px;
    display: inline-flex;
    font-size: 12px;
}

ul.pre-booking li {
    padding: 2px 3px;
}

ul.pre-booking input {
    max-width: 71px;
    background: none;
    border: 1px solid #afafaf;
    margin-top: 9px;
    color: #0c0c0c;
    padding: 2px 5px;
}

input {
    box-shadow: none !important;
    color: #0c0c0c !important;
    border: 1px solid #dcdcdc !important;
    background: #ffff;
}

.white-card {
    padding: 12px 16px;
    background: #fcfcfc;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 1px #2424241f;
}

ul.panel-list {
    padding-left: 20px;
    margin-top: 4px;
}

b.avail_type-title {
    margin-left: 18px;
    display: block;
    margin-bottom: 10px;
}

.cursor-pointer {
   cursor: pointer;
}

input.form-check-input {
    display: inline-block;
}

.time-interval-list {
    padding: 19px;
}
</style>

