<template>
    <section class="profile-section">
        <div class="row">
            <div class="col-md-12">
                <div class="box mt-2 mb-2">
                    <h3>Manage Schedules</h3>
                    <p>Manage your operation or business hours. You schedules will be also displayed in Booked Appointment page for your reference.Your timezone it set to <b>US/Central</b></p>
                    <!-- <div style="margin-top: 51px;"> -->
                      <div v-show="$root.userAddOns.indexOf('Extensions') > -1">
                      <div class="text-right mb-4">
                        <button class="add-new-employee" data-toggle="modal" data-target="#modal-employee">
                          <i class="fa fa-calendar"></i> &nbsp;
                          Add New Employee ({{ userEmployees.length }})
                        </button>
                      </div>
                      <ul class="user-tablist" v-if="userEmployees.length">
                        <li><a  style="margin-right: 2px;" @click="activeTab = ''" href="javascript:void(0)" :class="{ 'active-tablist': activeTab === '' }">{{ $root.currentUser.first_name }}</a></li>
                        <li v-for="(item, index) in userEmployees"><a @click="activeTab = item.employee.id" href="javascript:void(0)" :class="{ 'active-tablist': activeTab === item.employee.id }">{{ item.employee.first_name }}</a></li>
                      </ul>
                    </div>
                    <!-- <hr style="margin-bottom: 0px;" /> -->
                    <div v-if="daysIsLoaded && !loadingSchedules">
                      <day-schedule
                      v-for="(item, index) in days" 
                      :key="index"
                      :day="item.day"
                      :name="item.name"
                      :value="item.value"
                      :employee_id="activeTab"
                      ></day-schedule>
                    </div>
                    <div v-else class="text-center mt-4 mb-4">
                        loading...
                    </div>
                </div>
            </div>

        <!-- Modal -->
        <div class="modal fade" id="modal-employee" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modelTitleId">Add New Employee</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="createEmployee">
                          <div class="row">
                              <div class="col-sm-6">
                                  <div class="form-group">
                                    <label for="">First Name</label>
                                    <input v-model="employeeForm.first_name" type="text" class="form-control" required>
                                  </div>
                              </div> 
                              <div class="col-sm-6">
                                  <div class="form-group">
                                    <label for="">Last Name</label>
                                    <input v-model="employeeForm.last_name" type="text" class="form-control" required>
                                  </div>
                              </div> 
                          </div>
                          <div class="row">
                              <div class="col-sm-6">
                                  <div class="form-group">
                                    <label for="">Email Address</label>
                                    <input v-model="employeeForm.email" type="email" class="form-control" required>
                                  </div>
                              </div> 
                              <div class="col-sm-6">
                                  <div class="form-group">
                                    <label for="">Telephone Ext</label>
                                    <input v-model="employeeForm.telephone_ext" type="text" class="form-control" required>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-sm-6">
                                  <div class="form-group">
                                    <label for="">Job Title</label>
                                    <select v-model="employeeForm.job_title" class="form-control" required>
                                      <option value="">Select Job Title</option>
                                      <option>Manager</option>
                                      <option>Associate</option>
                                    </select>
                                  </div>
                              </div>
                              <div class="col-sm-6">
                                  <div class="form-group">
                                    <label for="">Profile Picture</label>
                                    <div class="input-group mb-3">
                                      <input @change="onFileChange" type="file" ref="employeePhoto" style="display:none;"> 
                                      <input  @click="$refs.employeePhoto.click()" :value="employeePhoto.name" type="text" class="form-control" placeholder="Choose File" aria-label="Choose File" aria-describedby="basic-addon2">
                                      <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">Upload</span>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                          </div>
                          <button style="display:none;" ref="submitEmployeeForm"></button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button :disabled="savingEmployee" type="button" class="btn btn-primary" @click="$refs.submitEmployeeForm.click()">{{ savingEmployee ? 'Saving...' : 'Save' }}</button>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </section>
</template>

<script>
import DaySchedule from './DaySchedule'
import swal from 'sweetalert2'

export default {
  data () {
    return {
      days: [
        { name: 'Monday', day: 1, value: '' },
        { name: 'Tuesday', day: 2, value: '' },
        { name: 'Wednesday', day: 3, value: '' },
        { name: 'Thursday', day: 4, value: '' },
        { name: 'Friday', day: 5, value: '' },
        { name: 'Saturday', day: 6, value: '' },
        { name: 'Sunday', day: 7, value: '' },
      ],
      schedules: [],
      daysIsLoaded: false,
      activeTab: '',
      loadingSchedules: false,
      employeeForm: {
        first_name: '',
        last_name: '',
        email: '',
        telephone_ext: '',
        job_title: ''
      },
      savingEmployee: false,
      employeePhoto: '',
      userEmployees: []
    }
  },
  props: ['user'],
  components: {
    'day-schedule': DaySchedule
  },
  watch: {
    activeTab () {
      this.loadingSchedules = true
      this.schedules = []
      this.days = [
        { name: 'Monday', day: 1, value: '' },
        { name: 'Tuesday', day: 2, value: '' },
        { name: 'Wednesday', day: 3, value: '' },
        { name: 'Thursday', day: 4, value: '' },
        { name: 'Friday', day: 5, value: '' },
        { name: 'Saturday', day: 6, value: '' },
        { name: 'Sunday', day: 7, value: '' }
      ]
      this.getSchedules()
    }
  },
  created () {
    this.getSchedules()
    this.getUserEmployees()
  },
  methods: {
    async getSchedules () {
      try {
        const employeeSchedule = this.activeTab !== '' ? '&employee_id=' + this.activeTab : ''
        const response = await axios.get('/web-api/schedule?user_id=' + this.user.id + '&include=times' + employeeSchedule)
        this.schedules = response.data.data
        this.schedules.forEach(element => {
          const index = _.findIndex(this.days, { 'day': parseInt(element.day) })
          this.days[index].value = element
        })
        this.daysIsLoaded = true
        this.loadingSchedules = false
      } catch (error) {
        //   fails
        console.log(error)
      }
    },
    async getUserEmployees () {
      try {
        const response = await axios.get('/web-api/user-employees')
        this.userEmployees = response.data.data
      } catch (error) {
        //   fails
        console.log(error)
      }
    },
    onFileChange (e) {
      this.employeePhoto = e.target.files[0]
    },
    async createEmployee () {
      swal({
        title: 'Are you sure?',
        text: "You're about to create new employee.",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes'
    }).then(async function (action) {
        try {
          if (action.dismiss !== 'cancel') {
            this.savingEmployee = true
            const formData = new FormData
            formData.set('first_name', this.employeeForm.first_name)
            formData.set('last_name', this.employeeForm.last_name)
            formData.set('email', this.employeeForm.email)
            formData.set('job_title', this.employeeForm.job_title)
            formData.set('telephone_ext', this.employeeForm.telephone_ext)
            formData.set('photo', this.employeePhoto)
            const response = await axios.post('/web-api/employee', formData)
            this.getUserEmployees()
            $('#modal-employee').modal('hide')
            swal('Success', 'Employee successfully created!', 'success')
            this.employeeForm = {
              first_name: '',
              last_name: '',
              email: '',
              telephone_ext: '',
              job_title: ''
            }
            this.savingEmployee = false
            this.employeePhoto = ''
          }
        } catch (error) {
          // fails
          this.savingEmployee = false
          if (error.response.status === 422) {
              let errors = ''
              for (let key in error.response.data.errors) {
                  errors += error.response.data.errors[key].join(',')
              }
              swal('', errors, 'error')
          } else {
            swal('', 'Something went wrong.', 'error')
          }
        }
    }.bind(this)).catch(swal.noop)
    }
  }
}
</script>

<style scoped>
ul.user-tablist {
    padding-left: 0px;
    margin-top: 32px;
    margin-bottom: 30px;
}
ul.user-tablist li {
    display: inline-block;
}
ul.user-tablist li a {
    display: block;
    background: #ececec;
    padding: 5px 11px;
    width: 148px;
    font-size: 21px;
    color: #313131;
    border-radius: 2px;
    /* box-shadow: 2px 1px 7px 0px #e8e8e8; */
    /* border: 1px solid #1919192b; */
    margin-bottom: 9px;
    margin-right: 5px;
}
ul.user-tablist li a:hover {
    background: #fe8024;
    color: #ffffff;
    /* border-color: #fe8024; */
}
.active-tablist {
    background: #fe8024 !important;
    color: #ffffff !important;
    /* border-color: #fe8024 !important; */
}
.add-new-employee {
    margin-top: -42px;
    border-radius: 3px;
    border: none;
    padding: 4px 13px;
    background: #fe8024;
    color: #ffffff;
    cursor: pointer;
    margin-right: 15px;
}
.modal-dialog.modal-lg {
    max-width: 572px;
}
input {
  box-shadow: none !important;
}
button.float-right.add-new-employee {
    margin-top: -21px;
}
</style>
