<template>
  <div>
      <div v-if="daysIsLoaded">
        <day-schedule 
        v-for="(item, index) in days" 
        :key="index"
        :day="item.day"
        :name="item.name"
        :value="item.value"
        ></day-schedule>
    </div>
  </div>
</template>

<script>
import DaySchedule from './DaySchedule'

export default {
  components: {
    'day-schedule': DaySchedule
  },
  created () {
    this.getSchedules()
  },
  methods: {
    async getSchedules () {
      try {
        const response = await axios.get('/web-api/schedule?user_id=' + this.user.id + '&include=times')
        this.schedules = response.data.data
        this.schedules.forEach(element => {
          const index = _.findIndex(this.days, { 'day': parseInt(element.day) })
          this.days[index].value = element
        })
        this.daysIsLoaded = true
      } catch (error) {
        //   fails
        console.log(error)
      }
    }
  }
}
</script>

